﻿.BackButton {
	width: 64px;
	height: 35px;
	border: 1px solid #c8af9b;
	font-family: arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #804819;
	background-color: #FFFFFF;
	font-weight: bold;
}.SaveButton {
	width: 110px;
	height: 35px;
	border: 1px solid #98d5b3;
	font-family: arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #22a754;
	background-color: #FFFFFF;
	font-weight: bold;
}
.VoidButton {
	width: 110px;
	height: 35px;
	border: 1px solid #f1a494;
	font-family: arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #ee473e;
	background-color: #FFFFFF;
	font-weight: bold;
}.ClearButton {
	width: 110px;
	height: 35px;
	border: 1px solid #7fb9e1;
	font-family: arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #1f82c3;
	background-color: #FFFFFF;
	font-weight: bold;
}.PrintButton {
	width: 110px;
	height: 35px;
	border: 1px solid #fbc77b;
	font-family: arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #f6a124;
	background-color: #FFFFFF;
	font-weight: bold;
}.CancelButton {
	width: 110px;
	height: 35px;
	border: 1px solid #a593ad;
	font-family: arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #6f4a76;
	background-color: #FFFFFF;
	font-weight: bold;
}





