﻿.BgInCell {
	background-color: #f5fafe;
}
.CellName {
	font-family: Helvetica;
	font-size: 10pt;
	color: #2f7a8d;
	font-weight: bold;
	width: 125px;
	height: 22px;
}
.CellControl {
	width: 222px;
	height: 22px;
	padding-top: 5px;
}
.Control {
	font-family: Helvetica;
	font-size: 10pt;
	border: 1px solid #808183;
	width: 222px;
	height: 22px;
}
.CellHeight {
	height: 5px;
}
.NoteInput {
	font-family: Helvetica;
	font-size: 10pt;
	border: 1px solid #808183;
	width: 274px;
	height: 22px;
	padding-top: 5px;
}
.BgBorderLeft {
	background-image: url('images/CashPurchase-1_02.jpg');
	width: 34px;
}
.BgBorderRight {
	background-image: url('images/CashPurchase-1_04.jpg');
	width: 67px;
}
.TotalInput {
	font-family: Helvetica;
	font-size: 10pt;
	border: 1px solid #808183;
	width: 217px;
	height: 22px;
	padding-top: 5px;
}
.CellTotal {
	font-family: Helvetica;
	font-size: 12pt;
	color: #0575bd;
}
