﻿.BgInCell {
	background-color: #fdfaf5;
}
.CellName {
	font-family: Helvetica;
	font-size: 10pt;
	color: #c38e00;
	font-weight: bold;
	width: 125px;
	height: 22px;
}
.CellControl {
	width: 222px;
	height: 22px;
	padding-top: 5px;
}
.Control {
	font-family: Helvetica;
	font-size: 10pt;
	border: 1px solid #808183;
	width: 222px;
	height: 22px;
}
.CellHeight {
	height: 5px;
}
.NoteInput {
	font-family: Helvetica;
	font-size: 10pt;
	border: 1px solid #808183;
	width: 274px;
	height: 22px;
	padding-top: 5px;
}
.BgBorderLeft {
	background-image: url('images/tabyellow_02.jpg');
	width: 34px;
}
.BgBorderRight {
	background-image: url('images/tabyellow_04.jpg');
	width: 67px;
}
.TotalInput {
	font-family: Helvetica;
	font-size: 10pt;
	border: 1px solid #808183;
	width: 217px;
	height: 22px;
	padding-top: 5px;
}
.CellTotal {
	font-family: Helvetica;
	font-size: 12pt;
	color: #c38e00;
}
.SaveAndPayment {
	text-align: right;
	padding-right: 5px;
}
.SubmitInput {
	height: 22px;
	border: 1px solid #808183;
	color: #c38e00;
	font-family: Helvetica;
	font-size: 9pt;
	font-weight: bold;
	background-color: #FFFFFF;
}
.CellHeader {
	font-family: Helvetica;
	font-size: 11pt;
	color: #c38e00;
	font-weight: bold;
	height: 22px;
	padding-top: 5px;
	background-color: #FFFFFF;
}
