﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Printable.master.cs" Inherits="RetailGOO.Master.Printable" %>

<!DOCTYPE html>

<html>
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Retail GOO</title>

    <%-- Bootstrap CSS --%>
    <link rel="stylesheet" href="<%# ResolveClientUrl("~/framework/bootstrap/css/bootstrap.min.css") %>" type="text/css" />
    <link rel="stylesheet" href="<%# ResolveClientUrl("~/framework/bootstrap/css/bootstrap-theme.min.css") %>" type="text/css" />
    <link rel="stylesheet" href="<%# ResolveClientUrl("~/framework/bootstrap/css/datepicker.css") %>" type="text/css" />
    <%-- Retail GOO CSS --%>
    <link rel="stylesheet" href="<%# ResolveClientUrl("~/css/retailgoo.css") %>" type="text/css" />
    <link rel="stylesheet" href="<%# ResolveClientUrl("~/css/kilingrid.css") %>" type="text/css" />
    <%-- JQuery --%>
    <script src="<%# ResolveClientUrl("~/js/jquery-1.11.0.min.js") %>"></script>
    <script src="<%# ResolveClientUrl("~/js/jquery.blockUI.js") %>"></script>
    <script src="<%# ResolveClientUrl("~/js/ajax.js") %>"></script>
    <script src="<%# ResolveClientUrl("~/js/jquery.validate.min.js") %>"></script>
    <script src="<%# ResolveClientUrl("~/js/util.js") %>"></script>
    <script src="<%# ResolveClientUrl("~/js/kilinvalidation.js") %>"></script>
    <script src="<%# ResolveClientUrl("~/js/retailgoo-kilingrid.js") %>"></script>
    <%-- Selectize --%>
    <script src="<%# ResolveClientUrl("~/js/es5-shim.min.js") %>"></script>
    <script src="<%# ResolveClientUrl("~/js/selectize.min.js") %>"></script>
    <link rel="stylesheet" href="<%# ResolveClientUrl("~/css/selectize.css") %>" type="text/css" />
    <%-- Bootstrap JS --%>
    <script src="<%# ResolveClientUrl("~/framework/bootstrap/js/bootstrap.js") %>"></script>
    <script src="<%# ResolveClientUrl("~/framework/bootstrap/js/bootstrap-datepicker.js") %>"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        function InitializeMasterPage() {
            // Call to content page's pageLoad();
            pageLoad();
        }
    </script>

    <asp:ContentPlaceHolder ID="pageHead" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div class="body">
        <asp:ContentPlaceHolder ID="pageBody" runat="server">
        </asp:ContentPlaceHolder>
        <%--<div class="clear-both" style="padding: 5px 0px;">
            <div class="clear-both line">
            </div>
        </div>
        <div>
            <div class="float-right" style="padding-bottom: 20px;">
                <span style="font-size:9pt; color: gray;">
                    &middot;&nbsp;&nbsp;
                    <a href="../privacy.html">Privacy</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a href="../term.html">Term</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a href="../contactus.html">Contact Us</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    RETAIL GOO &copy; 2014
                </span>
            </div>
        </div>--%>
    </div>
    <script type="text/javascript">
        window.onload = pageLoad;
    </script>
</body>
</html>

