﻿.CellBox {
	width: 120px;
	height: 33px;
	background-color: #FFFFFF;
}
.TextInCellActive {
	width: 117px;
	height: 21px;
	margin-left: 6px;
	font-family: Helvetica;
	font-size: 10pt;
	font-weight: bold;
	color: #8a8a8a;
	top: auto;
	bottom: auto;
}
.TextInCellNotActive {
	width: 117px;
	height: 21px;
	margin-left: 6px;
	font-family: Helvetica;
	font-size: 10pt;
	font-weight: normal;
	color: #c0c0c0;
	top: auto;
	bottom: auto;
}
