﻿.BgInCell {
	background-color: #fff9f9;
}
.CellName {
	font-family: Helvetica;
	font-size: 10pt;
	color: #ed6d50;
	font-weight: bold;
	width: 100px;
	height: 22px;
	vertical-align: top;
	padding-top: 5px;
	text-align: center;
}
.CellData {
	font-family: Helvetica;
	font-size: 10pt;
	color: #000000;
	vertical-align: middle;
	padding-top: 5px;
	text-align: center;
}

.CellControl {
	width: 222px;
	height: 22px;
	padding-top: 5px;
}
.Control {
	font-family: Helvetica;
	font-size: 10pt;
	border: 1px solid #808183;
	width: 222px;
	height: 22px;
}
.TextAreaControl {
	font-family: Helvetica;
	font-size: 10pt;
	border: 1px solid #808183;
	width: 222px;
	height: 68px;
}

.CellHeight {
	height: 5px;
}
.NoteInput {
	font-family: Helvetica;
	font-size: 10pt;
	border: 1px solid #808183;
	width: 274px;
	height: 22px;
	padding-top: 5px;
}
.BgBorderLeft {
	background-image: url('images/tabred_02.jpg');
	width: 34px;
}
.BgBorderRight {
	background-image: url('images/tabred_04.jpg');
	width: 67px;
}
.TotalInput {
	font-family: Helvetica;
	font-size: 10pt;
	border: 1px solid #808183;
	width: 217px;
	height: 22px;
	padding-top: 5px;
}
.CellTotal {
	font-family: Helvetica;
	font-size: 12pt;
	color: #ed6d50;
}
.SubmitRight {
	width: 222px;
	height: 22px;
	padding-top: 5px;
	text-align: right;
}
.SubmitInput {
	width: 117px;
	height: 37px;
	border: 1px solid #f3ae9f;
	color: #f0806c;
	font-family: Helvetica;
	font-size: 9pt;
	font-weight: bold;
	background-color: #FFFFFF;
}
.SaveAndPayment {
	text-align: right;
	padding-right: 5px;
}
.CellHeader {
	font-family: Helvetica;
	font-size: 11pt;
	color: #ed6d50;
	font-weight: bold;
	height: 22px;
	padding-top: 5px;
	background-color: #FFFFFF;
}
.Spacer {
	font-family: Helvetica;
	font-size: 10pt;
	color: #ed6d50;
	font-weight: bold;
	height: 22px;
	vertical-align: top;
	padding-top: 5px;
	text-align: center;
}
.CellInfo {
	font-family: Helvetica;
	font-size: 9pt;
	color: #ed6d50;
}
