﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master/Auth.Master" AutoEventWireup="true" CodeBehind="Report.aspx.cs" Inherits="RetailGOO.Page.Report" %>
<asp:Content ID="Content1" ContentPlaceHolderID="pageHead" runat="server">

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="pageBody" runat="server">

</asp:Content>
