﻿.BgInCell {
	background-color: #f5fafe;
}
.CellName {
	font-family: Helvetica;
	font-size: 10pt;
	color: #0575bd;
	font-weight: bold;
	width: 200px;
	height: 22px;
	padding-top: 5px;
	vertical-align: top;
}
.CellControl {
	width: 222px;
	height: 22px;
	padding-top: 5px;
}
.Control {
	font-family: Helvetica;
	font-size: 10pt;
	border: 1px solid #808183;
	width: 280px;
	height: 22px;
}
.CellHeight {
	height: 5px;
}
.NoteInput {
	font-family: Helvetica;
	font-size: 10pt;
	border: 1px solid #808183;
	width: 274px;
	height: 22px;
	padding-top: 5px;
}
.BgBorderLeft {
	background-image: url('images/tabblue_02.jpg');
	width: 34px;
}
.BgBorderRight {
	background-image: url('images/tabblue_04.jpg');
	width: 67px;
}
.TotalInput {
	font-family: Helvetica;
	font-size: 10pt;
	border: 1px solid #808183;
	width: 217px;
	height: 22px;
	padding-top: 5px;
}
.CellTotal {
	font-family: Helvetica;
	font-size: 12pt;
	color: #0575bd;
}
.GridView2Header {
	font-family: Helvetica;
	font-size: 9pt;
	background-color: #44938e;
	color: #FFFFFF;
}
.SubmitInput {
	height: 22px;
	border: 1px solid #808183;
	color: #808080;
	font-family: Helvetica;
	font-size: 9pt;
	font-weight: bold;
	background-color: #FFFFFF;
}
.SaveAndPayment {
	text-align: right;
	padding-right: 5px;
}
.image {
	width: 160px;
	height: 160px;
	border: 1px solid #808183;
	background-color: #FFFFFF;
}
.ImageArea {
	font-family: Helvetica;
	font-size: 10pt;
	color: #0575bd;
	font-weight: bold;
	width: 125px;
	padding-top: 5px;
}
.CellHeader {
	font-family: Helvetica;
	font-size: 11pt;
	color: #0575bd;
	font-weight: bold;
	height: 22px;
	padding-top: 5px;
	background-color: #FFFFFF;
}
.CellArea {
	height: 22px;
	padding-top: 5px;
}
