﻿.BgInCell {
	background-color: #fbfcf4;
}
.CellName {
	font-family: Helvetica;
	font-size: 10pt;
	color: #79a438;
	font-weight: bold;
	width: 125px;
	height: 22px;
	vertical-align: top;
	padding-top: 5px;
}
.CellControl {
	width: 222px;
	height: 22px;
	padding-top: 5px;
}
.Control {
	font-family: Helvetica;
	font-size: 10pt;
	border: 1px solid #808183;
	width: 222px;
	height: 22px;
}
.TextAreaControl {
	font-family: Helvetica;
	font-size: 10pt;
	border: 1px solid #808183;
	width: 222px;
	height: 68px;
}

.CellHeight {
	height: 5px;
}
.NoteInput {
	font-family: Helvetica;
	font-size: 10pt;
	border: 1px solid #808183;
	width: 274px;
	height: 22px;
	padding-top: 5px;
}
.BgBorderLeft {
	background-image: url('images/tabgreen_02.jpg');
	width: 34px;
}
.BgBorderRight {
	background-image: url('images/tabgreen_04.jpg');
	width: 67px;
}
.TotalInput {
	font-family: Helvetica;
	font-size: 10pt;
	border: 1px solid #808183;
	width: 217px;
	height: 22px;
	padding-top: 5px;
}
.CellTotal {
	font-family: Helvetica;
	font-size: 12pt;
	color: #79a438;
}
.SubmitRight {
	width: 222px;
	height: 22px;
	padding-top: 5px;
	text-align: right;
}
.SubmitInput {
	width: 117px;
	height: 37px;
	border: 1px solid #79a438;
	color: #79a438;
	font-family: Helvetica;
	font-size: 9pt;
	font-weight: bold;
	background-color: #FFFFFF;
}
.ButtonActivated {
	width: 117px;
	height: 37px;
	border: 1px solid #8aaf50;
	color: #8bae50;
	font-family: Helvetica;
	font-size: 9pt;
	font-weight: bold;
	background-color: #cedeb7;
}
.ButtonInActivate {
	width: 117px;
	height: 37px;
	border: 1px solid #878787;
	color: #9e9e9e;
	font-family: Helvetica;
	font-size: 9pt;
	font-weight: bold;
	background-color: #e2e2e2;
}

.CellHeader {
	font-family: Helvetica;
	font-size: 11pt;
	color: #74A02F;
	font-weight: bold;
	height: 22px;
	padding-top: 5px;
	background-color: #FFFFFF;
}

.WHTInputStyle {
	background-color: #FFFFFF;
	border: 1px solid #808183;

}
.status {
	font-family: Helvetica;
	color: #000000;
	font-size: 9pt;
	text-align: center;
}
body {
	font-family: Helvetica;
	font-size: 9pt;
}
