﻿@outstanding-block-width: 140;
@outstanding-block-height: 100;

.report-main {
    padding-left: 20px;
    .report-main-inner {
        border: 1px solid #808183;

        padding: 10px 10px 0 10px;
        .pane-chart {
            height: 340px;

            /* Temp CSS until develop chart */
            line-height: 340px;
            text-align: center;
        }
        .pane-summary {
            height: 240px;

            .summary-outstanding {
                display: block;
                float: left;
                height: 100%;
                width: 450px;
                padding: 0 10px;

                .caption-outstanding {
                    font-size: 14pt;
                    font-weight: lighter;
                    height: 24px;
                }
                .pane-outstanding {
                    padding-top: 6px;
                    height: 200px;
                }
                .cell-outstanding {
                    width: @outstanding-block-width + 0px;
                    height: @outstanding-block-height + 0px;
                    display: block;
                    float: left;
                    &.row-end {
                        clear: right;
                    }
                    > div:first-child { /* value block */
                        margin: 0 5px;
                        height: 60px;
                        line-height: 60px;
                        font-size: 35pt;
                        font-weight: lighter;
                        color: white;
                        text-align: center;
                    }
                    > div:first-child + div { /* value block caption */
                        margin: 5px 5px 0px 5px;
                        height: 40px;
                        font-size: 10pt;
                        text-align: center;
                    }
                }
            }
            .summary-verticalbar {
                display: block;
                float: left;
                border-left: 1px solid #808183;
                width: 1px;
                height: 100%;
            }
            .summary-topproduct {
                display: block;
                float: right;
                height: 100%;
                width: 350px;
                padding: 0 10px;

                .caption-topproduct {
                    font-size: 14pt;
                    font-weight: lighter;
                    text-align: center;
                    height: 30px;
                    padding: 3px 0;
                    background-color: #f3f3f3;
                }
                .pane-topproduct-list {
                    height: 220px;
                    overflow-y: hidden;

                    @product-item-height: 44;

                    .product-item {
                        border-top: 1px solid #808183;
                        height: @product-item-height + 0px;

                        .item-caption {
                            height: @product-item-height + 0px;
                            line-height: @product-item-height + 0px;
                            display: block;
                            float: left;
                        }
                        .item-amount-sum {
                            height: @product-item-height + 0px;
                            line-height: @product-item-height + 0px;
                            display: block;
                            float: right;
                        }

                        &:first-child {
                            border-top: none;
                        }
                    }
                }
            }
        }
    
    }
}
