﻿.report-main {
  padding-left: 20px;
}
.report-main .report-main-inner {
  border: 1px solid #808183;
  padding: 10px 10px 0 10px;
}
.report-main .report-main-inner .pane-chart {
  height: 340px;
  /* Temp CSS until develop chart */
  line-height: 340px;
  text-align: center;
}
.report-main .report-main-inner .pane-summary {
  height: 240px;
}
.report-main .report-main-inner .pane-summary .summary-outstanding {
  display: block;
  float: left;
  height: 100%;
  width: 450px;
  padding: 0 10px;
}
.report-main .report-main-inner .pane-summary .summary-outstanding .caption-outstanding {
  font-size: 14pt;
  font-weight: lighter;
  height: 24px;
}
.report-main .report-main-inner .pane-summary .summary-outstanding .pane-outstanding {
  padding-top: 6px;
  height: 200px;
}
.report-main .report-main-inner .pane-summary .summary-outstanding .cell-outstanding {
  width: 140px;
  height: 100px;
  display: block;
  float: left;
}
.report-main .report-main-inner .pane-summary .summary-outstanding .cell-outstanding.row-end {
  clear: right;
}
.report-main .report-main-inner .pane-summary .summary-outstanding .cell-outstanding > div:first-child {
  /* value block */
  margin: 0 5px;
  height: 60px;
  line-height: 60px;
  font-size: 35pt;
  font-weight: lighter;
  color: white;
  text-align: center;
}
.report-main .report-main-inner .pane-summary .summary-outstanding .cell-outstanding > div:first-child + div {
  /* value block caption */
  margin: 5px 5px 0px 5px;
  height: 40px;
  font-size: 10pt;
  text-align: center;
}
.report-main .report-main-inner .pane-summary .summary-verticalbar {
  display: block;
  float: left;
  border-left: 1px solid #808183;
  width: 1px;
  height: 100%;
}
.report-main .report-main-inner .pane-summary .summary-topproduct {
  display: block;
  float: right;
  height: 100%;
  width: 350px;
  padding: 0 10px;
}
.report-main .report-main-inner .pane-summary .summary-topproduct .caption-topproduct {
  font-size: 14pt;
  font-weight: lighter;
  text-align: center;
  height: 30px;
  padding: 3px 0;
  background-color: #f3f3f3;
}
.report-main .report-main-inner .pane-summary .summary-topproduct .pane-topproduct-list {
  height: 220px;
  overflow-y: hidden;
}
.report-main .report-main-inner .pane-summary .summary-topproduct .pane-topproduct-list .product-item {
  border-top: 1px solid #808183;
  height: 44px;
}
.report-main .report-main-inner .pane-summary .summary-topproduct .pane-topproduct-list .product-item .item-caption {
  height: 44px;
  line-height: 44px;
  display: block;
  float: left;
}
.report-main .report-main-inner .pane-summary .summary-topproduct .pane-topproduct-list .product-item .item-amount-sum {
  height: 44px;
  line-height: 44px;
  display: block;
  float: right;
}
.report-main .report-main-inner .pane-summary .summary-topproduct .pane-topproduct-list .product-item:first-child {
  border-top: none;
}
/*# sourceMappingURL=dashboard.css.map */