﻿@color-bg-locked: #e6e6e6;
@color-bg-readonly: #f0f0f0;
@color-bg-new: #d0ffd0;
/*@color-bg-modified: #ffffd0;*/
@color-bg-deleted: #ffd0d0;
@color-bg-new-readonly: #c0efc0;
/*@color-bg-modified-readonly: #efefc0;*/
@color-bg-deleted-readonly: #ecd0c0;
@color-bg-selected: #e0e0e0;
@color-bg-new-selected: #b0dfb0;
/*@color-bg-modified-selected: #dfdfb0;*/
@color-bg-deleted-selected: #dcc0b0;
@color-border-gray1: #d0d0d0;
@color-border-gray2: #c0c0c0;
@color-body: #f8f8f8;

.k-grid-container {
    border: 1px solid gray;
    overflow-y:auto;
    background-color: @color-body;
}
.k-grid {
    border-collapse: collapse;
    border-spacing: 0;
    /*overflow-y: scroll;
    overflow-x: hidden;*/
    position: relative;

    border: 1px solid #bebebe;

}
.k-row-header {
    display: block;
    position: relative;
}
.k-grid-header-div {
    position: absolute;
    z-index: 1;
}
.k-grid-body-div {
    background-color: @color-body;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Decorate */
.k-grid th, .k-grid td {
    padding: 0px;
}
.k-row-dummy td {
    height: 30px;
}
.k-cell-header {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: white;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-align: center;
}
.k-cell-header.last {
    border-right: 1px solid @color-border-gray1;
}
.k-cell {
    border-right: 1px solid @color-border-gray1;
    border-bottom: 1px dotted @color-border-gray2;
    background-color: white;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Rows */
.k-row-readonly .k-cell {
    /*background-color: @color-bg-readonly;*/
}
.k-row-selected .k-cell {
    background-color: @color-bg-selected;
}
.k-row-readonly.k-row-selected .k-cell { 
    background-color: @color-bg-selected;
}
.k-row-new .k-cell {
    background-color: @color-bg-new;
}
.k-row-new.k-row-readonly .k-cell {
    background-color: @color-bg-new-readonly;
}
.k-row-new.k-row-selected .k-cell {
    background-color: @color-bg-new-selected;
}
/*.k-row-modified .k-cell {
    background-color: @color-bg-modified;
}
.k-row-modified.k-row-readonly .k-cell {
    background-color: @color-bg-modified-readonly;
}
.k-row-modified.k-row-selected .k-cell {
    background-color: @color-bg-modified-selected;
}*/
.k-row-deleted .k-cell {
    text-decoration: line-through;
    /*background-color: @color-bg-deleted;*/
    input[type=text] {
        text-decoration: line-through;
    }
}
/*.k-row-deleted.k-row-readonly .k-cell {
    background-color: @color-bg-deleted-readonly;
}
.k-row-deleted.k-row-selected .k-cell {
    background-color: @color-bg-deleted-selected;
}*/

.k-grid-locked {
    pointer-events: none;
    cursor: not-allowed;
    .k-cell-header {
        /*background-color: @color-bg-locked;*/
    }
    .k-row-dummy {
        background-color: @color-bg-locked;
    }
}
/*.k-grid-locked.k-grid-container {
    background-color: @color-bg-locked;
}
.k-cell-locked {
    background-color: @color-bg-locked;
}
.k-row-readonly .k-cell.k-cell-locked {
    background-color: @color-bg-locked;
}*/

/* pagination */
.k-grid-page {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 5px;
    color: gray;
    border-top: 1px dotted #d0d0d0;
    background-color: white;
}
.k-grid-page-item {
    width: 15px;
    text-align: center;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    &.page-item-disabled {
        color: black;
        cursor: auto;
    }
}

/* contorls */
.k-grid :focus {
    outline: 0px;
}
.k-input-text-container {
    padding-left: 2px;
    padding-right: 2px;
}
.k-input-text-container input[type=text] {
    border: none;
    background-color: yellow;
    width: 100%;
}
.k-input-amt-container input[type=text] {
    border: none;
    background-color: yellow;
    width: 100%;
    text-align: center;
}
.k-radio-container {
    text-align: center;
}

/* Old IE */
/*.k-grid-support-old-ie {
    overflow-x: hidden;
    overflow-y: auto;
}
.k-grid-support-old-ie .k-grid-body {
    height: auto;
}*/