﻿@screen-size-max-x: 1000;
@screen-size-max-y: 800;

@pos-width: 1080;
@pos-height: 705;

@pos-top-height: 435;

@pos-left-width: 860;

@login-info-width: 560;

@bar-top-height: 40;
@bar-sum-height: 80;
@switchable-pane-height: (@pos-top-height - @bar-top-height - @bar-sum-height);

@menu1-height: 65;
@menu2-width: 160;

@itemlist-width: 650;
@pos-bottom-height: (@pos-height - @pos-top-height);

@pos-grid-height: 190;
@pos-grid-command-heigth: 40;
@keypad-width: 210;

@border-element-box: 1px solid #bebebe;
@font-gray: gray;
@bg-gray: #bebebe;

@border-color: #bebebe;

.fit-y {
    height: 100%;
}
.inline {
    display: block;
    float: left;
}
.pos-top {
    width: @pos-width + 0px;
    height: @pos-top-height + 0px;
}
.pos-bottom {
    width: @pos-width + 0px;
    height: @pos-bottom-height + 0px;
}
.pos-left {
    width: @pos-left-width + 0px;
    .inline;
    .fit-y;
}
.pos-right {
    width: 220px;
    .inline;
    .fit-y;

    background-color: white;
    border-top: 1px solid @border-color;
    border-left: 1px solid @border-color;
    border-right: 1px solid @border-color;

    text-align: center;
    padding: 10px 15px;   

    .pos-logo {
        padding-bottom: 10px;
        border-bottom: 1px solid black;
    }
    .pos-user {
        height: 75px;
        border-bottom: 1px solid black;
    }
}
.bar-top {
    height: @bar-top-height + 0px;
}
.element-box-border {
    border-top: @border-element-box; 
    border-left: @border-element-box;
}
.bar-sum {
    height: @bar-sum-height + 0px;
    background-color: white;
    .element-box-border;
    .amount-big {
        height: 100%;
        display: inline-block;
        float: left;
        padding-left: 10px;
        span {
            font-size: 50pt;
            font-weight: lighter;
            color: @font-gray;
        }
    }
    .amount-small {
        height: 100%;
        display: table;
        float: right;
        div {
            vertical-align: middle;
            display: table-cell;
            text-align: right;
            color: @font-gray;
            font-weight: lighter;
            padding-right: 10px;
            span {
                font-weight: lighter;
                margin-left: 3px;
            }
        }
    }
}
.login-info {
    width: @login-info-width + 0px;
    height: @bar-top-height + 0px;
    line-height: @bar-top-height + 0px;
    text-align: center;
    .inline;
    /*.fit-y;*/
    color: white;
    font-weight: lighter;
    font-size: 12pt;
    background-color: @bg-gray;
}
.product-search {
    background-color: #c7e2d1;
    width: (@pos-left-width - @login-info-width) + 0px;
    height: @bar-top-height + 0px;
    .inline;
    display: table;

    font-weight: lighter;
    /*.fit-y;*/
    .div-search-input {
        display: table-cell;
        vertical-align: middle;
        padding-left: 5px;
        input[type=text] {
            font-weight: lighter;
            color: #449e8e;
            border: 0 !important;
            background-color: transparent;
            width: 240px;
            font-size: 13pt;
            text-align: center;
        }
    }
}
.sum-balance {

}
.sum-numbers {

}
.switchable-pane {
    height: @switchable-pane-height + 0px;
}
.catalog {
    height: @switchable-pane-height + 0px;
}
.menu1 {
    height: @menu1-height + 0px;
    width: @pos-left-width + 0px;
    background-color: #f3e3c1;

    > .nav-arrow {
        width: 65px;
        height: @menu1-height + 0px;
        display: inline-block;
        // display border that does not affect overall dimension
        -webkit-box-shadow:inset 0 0 0 0 @border-element-box;
        -moz-box-shadow:inset 0 0 0 0 @border-element-box;
        box-shadow:inset 0 0 0 0 @border-element-box;
        &:active {
            outline: 1px solid black;
        }
    }
    > .nav-arrow.left {
        float: left;
    }
    > .nav-arrow.right {
        float: right;
    }
    > .item-bar {
        @item-bar-width: (@pos-left-width - (2*65)) + 0px;
        border-top: 1px solid @border-color;
        border-bottom: 1px solid @border-color;
        float: left;
        overflow: hidden;
        width: @item-bar-width + 0px;
        height: @menu1-height + 0px;
        white-space: nowrap;
        cursor: pointer;
        .menu1-item {
            color: #f39f3c;
            width: 91px;
            border-right: 1px solid @border-color;
            height: @menu1-height + 0px;
            line-height: @menu1-height + 0px;
            text-align: center;
            display: inline-block;
            float: left;
            overflow: hidden;
            &:hover {
            }
            &:active {
                color: #db5717;
                background-color: white;
            }
            &.active {
                background-color: white;
            }
        }
        .menu1-item:last-child {
            border-right: none;
        }
    }
}
.menu2 {
    height: (@switchable-pane-height - @menu1-height) + 0px;
    border-left: 1px solid @border-color;
    border-right: 1px solid @border-color;
    width: @menu2-width + 0px;
    .inline;
    background-color: #fadcdc;
    cursor: pointer;
    .menu2-arrow {
        text-align: center;
        img {
            width: 48px;
        }
        &:active {
            outline: 1px solid black;
        }
    }
    .menu2-items {
        height: 180px;
        .menu2-item:first-child {
            border-top: 1px solid #f4aca0;
        }
        .menu2-item {
            @margin-side: 5;
            color: #f4aca0;
            width: @menu2-width - (2*@margin-side) + 0px;
            height: 30px;
            line-height: 31px;
            margin: 0 @margin-side+0px;
            border-bottom: 1px solid #f4aca0;
            text-align: center;
            overflow: hidden;
            &:hover {
            }
            &:active {
                color: #e86076;
                background-color: white;
            }
            &.active {
                background-color: white;
            }
        }
    }
}
.menu3 {
    @menu3-height: @switchable-pane-height - @menu1-height;
    height: @menu3-height + 0px;
    width: (@pos-left-width - @menu2-width) + 0px;
    .inline;
    
    @tab-height: 35;
    @tab-width: 175;

    .menu3-tab-view {
        /*margin-top: -1px;*/
        /*border-top: 1px solid @border-color;*/
        width: (@pos-left-width - @menu2-width) + 0px;
        height: @menu3-height - @tab-height + 0px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 5px;
    }
    .menu3-item {
        background-color: #cdeaf8;
        margin-right: 5px;
        margin-bottom: 5px;
        width: 90px;
        height: 50px;
        line-height: 50px;
        float: left;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
        &:hover {
        }
        &:active {
            color: teal;
            border: 1px solid teal;
            background-color: white;
        }
    }

    /* Bootstrap */
    .nav-tabs {
        white-space: nowrap;
        > li {
            width: @tab-width + 0px !important;
            display: inline-block;
            float: none;
            > a {
                border: 1px solid #ddd;
                border-bottom-color: transparent;
                border-left-color: transparent;
                text-align: center;
            }
            &.nav-page {
                width: 50px !important;
            }
        }
    }
    /*.nav-tabs {
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
        border-bottom: 1px solid @border-color !important;
        border-bottom: none !important;
        > li { 
            background-color: white;
            float: none;
            display: inline-block;
            > a {
                color: teal;
                font-weight: lighter;
                margin: 0;
                border-radius: 0 !important;
                border-left: 0;
                border-right: 1px solid @border-color;
                padding: 0 !important;
                width: @tab-width + 0px !important;
                height: @tab-height + 0px !important;
                line-height: 35px;
                text-align: center;
                &:hover {
                    color: teal !important;
                }
                &:active {
                    color: teal !important;
                }
            }
        }
    }*/
    .modal-dialog {
        margin-top: 200px !important;
        .modal-body {
            overflow: hidden; /* Adjust height according to contents */
        }
    }
}

@switch-bar-width: 70;
@switch-bar-height: @switchable-pane-height;
.switch-bar {
    position: absolute;
    right: 0;
    z-index: 1;
    height: @switch-bar-height + 0px;
    width: @switch-bar-width + 0px;
    /*background-color: red;*/
    border-top: 1px solid @border-color;
    border-left: 1px solid @border-color;
    img {
        height: (@switch-bar-height - 1) + 0px;
        width: (@switch-bar-width - 1) + 0px;
    }
}
.holdsales {
    @holdsales-height: @switchable-pane-height;
    @grid-holdsales-width: @pos-left-width;
    @holdsales-caption-height: 40;
    position: relative;
    .holdsales-container {
        height: @holdsales-height + 0px;
        @grid-pane-height: 275;
        @grid-pane-width: @grid-holdsales-width - @switch-bar-width;
        .holdsales-caption {
            width: @grid-pane-width + 0px;
            height: @holdsales-caption-height + 0px;
            line-height: @holdsales-caption-height + 0px;
            color: white;
            font-size: 14pt;
            font-weight: lighter;
            padding-left: 30px;
            background-color: #eda3a4;
        }
        .holdsales-grid {
            width: @grid-pane-width + 0px;
            height: @grid-pane-height - @holdsales-caption-height + 0px;
        }
        .holdsales-command {
            width: @grid-pane-width + 0px;
            height: (@holdsales-height - @grid-pane-height) + 0px;
            border-left: 1px solid @border-color;
            border-top: 1px solid @border-color;
            padding-top: 5px;

            .btn-holdsales-command {
                color: #eda3a4;
                background-color: #f9e3e5;
                width: 150px;
                height: 30px;
                line-height: 30px;
                display: inline-block;
                margin-right: 5px;
            }

            .btn-holdsales-apply {
                .btn-holdsales-command;
                float: right;
            }

            .btn-holdsales-cancel {
                .btn-holdsales-command;
                float: right;
            }
        }
    }

}
.cashier {
    @cashier-height: @switchable-pane-height;
    @cashier-pane-width: @pos-left-width;
    position: relative;
    .cashier-container {
        height: @cashier-height + 0px;
        @cashier-pane-height: 269;
        @cashier-form-width: @cashier-pane-width - @switch-bar-width;
        @cashier-form-color: #6f985c;
        @cashier-field-color: gray;

        .btn-cashier-command {
            color: @cashier-form-color;
            background-color: #b6d7a8;
            font-size: 14pt;
            font-weight: lighter;
            width: 180px;
            height: 35px;
            line-height: 35px;
            display: inline-block;
            &:first-child {
                margin-left: 28px;
            }
            &.btn-disable {
                cursor: not-allowed;
                background-color: gray !important;
            }
        }

        .btn-cashier-apply {
            .btn-cashier-command;
            float: right;
        }

        .btn-cashier-cancel {
            .btn-cashier-command;
            float: right;
        }

        .cashier-form {
            width: @cashier-form-width + 0px;
            height: @cashier-pane-height + 0px;

            .form-cell {
                line-height: 35px;
                height: 35px;
                display: inline-block;
                font-size: 15pt;
                font-weight: lighter;
                position: absolute;
            }

            .txt-container {
                .form-cell;
                border: 1px solid @border-color;
                input[type=text] {
                    height: 32px;
                    width: 100%;
                }
            }

            .txt-cashier {
                border: none;
                text-align: center;
                color: gray;
                font-size: 12pt;
            }

            .form-row {
                width: @cashier-form-width + 0px;
                height: 46px;
                color: @cashier-form-color;
                border-left: 1px solid @border-color;
                border-top: 1px solid @border-color;
                padding-top: 5px;
                position: relative;

                
                .caption {
                    .form-cell;
                    /*font-size: 15pt;
                    font-weight: lighter;*/
                    margin-left: 20px;
                }

                .txt-customer-container {
                    .txt-container;
                    left: 190px;
                    width: 570px;
                    .selectize-input {
                        height: 33px;
                        border: none;
                        > div:first-child {
                            height: 33px;
                            line-height: 33px;
                        }
                    }
                }
                .txt-discount-container {
                    width: 200px;
                    .txt-container;
                    left: 190px;
                }
                .txt-pricing-container {
                    width: 570px;
                    .txt-container;
                    left: 190px;
                }

                .btn-form-command {
                    height: 35px;
                    line-height: 35px;
                    background-color: #b6d7a8;
                    display: inline-block;
                    position: absolute;
                    font-size: 14pt;
                    font-weight: lighter;
                }
                .btn-cashier-search {
                    .btn-form-command;
                    left: 579px;
                    width: 180px;
                }
                .btn-cashier-dollar {
                    .btn-form-command;
                    left: 395px;
                    width: 180px;
                }
                .btn-cashier-percent {
                    .btn-form-command;
                    left: 579px;
                    width: 180px;
                }
                .btn-cashier-inactive {
                    background-color: gray !important;
                }
            }
            .form-last-row {
                @last-row-height: 131;
                width: @cashier-form-width + 0px;
                height: @last-row-height + 0px; /* = 275px - 3*40px */
                color: @cashier-form-color;
                border-left: 1px solid @border-color;
                border-top: 1px solid @border-color;

                .col {
                    height: @last-row-height + 0px;
                    display: block;
                    float: left;
                }
                .col1 {
                    .col;
                    width: 400px;
                    border-right: 1px solid @border-color;
                    position: relative;
                    .caption {
                        position: absolute;
                        font-size: 15pt;
                        font-weight: lighter;
                        left: 20px;
                        top: 10px;
                    }
                    .col1-button {
                        height: 35px;
                        width: 117px;
                        line-height: 35px;
                        background-color: #b6d7a8;
                        display: inline-block;
                        position: absolute;
                        font-size: 14pt;
                        font-weight: lighter;
                    }
                    .btn-cash {
                        .col1-button;
                        left: 20px;
                        top: 40px;
                    }
                    .btn-credit {
                        .col1-button;
                        left: 142px;
                        top: 40px;
                    }
                    .btn-cheque {
                        .col1-button;
                        left: 264px;
                        top: 40px;
                    }
                    .txt-paymentamount-container {
                        display: inline-block;
                        .txt-container;
                        width: 360px;
                        left: 20px;
                        top: 80px;
                    }
                }
                .col2 {
                    .col;
                    width: 194px;
                    border-right: 1px solid @border-color;
                    position: relative;

                    .caption {
                        position: absolute;
                        font-size: 15pt;
                        font-weight: lighter;
                        width: 155px;
                        text-align: center;
                        left: 20px;
                        top: 10px;
                    }
                    .txt-amt-tendered-container {
                        display: inline-block;
                        .txt-container;
                        width: 155px;
                        left: 20px;
                        top: 80px;
                    }
                }
                .col3 {
                    .col;
                    width: 194px;
                    position: relative;

                    .caption {
                        position: absolute;
                        font-size: 15pt;
                        font-weight: lighter;
                        width: 155px;
                        text-align: center;
                        left: 20px;
                        top: 10px;
                    }
                    .txt-amt-changed-container {
                        display: inline-block;
                        .txt-container;
                        width: 155px;
                        left: 20px;
                        top: 80px;
                    }
                }
            }
        }
        .cashier-command {
            width: @cashier-form-width + 0px;
            height: (@cashier-height - @cashier-pane-height) + 0px;
            border-left: 1px solid @border-color;
            border-top: 1px solid @border-color;
            padding-top: 5px;
        }
    }
}

// CustomerName Modal
.caption-holdsale-customername {
    margin-left: 5px;
}
.btn-customername-ok {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: #b6d7a8;
    outline: 1px solid gray;
    font-size: 16pt;
    text-align: center;
    margin-top: 20px;
}
.sel-holdsale-customername {
    margin-top: 5px;
    width: 300px;
    /*display: inline-block;*/
}

.mainmenu {

}
.itemlist {
    width: @itemlist-width + 0px;
    .inline;
}
.pos-grid {
    width: @itemlist-width + 0px;
    height: @pos-grid-height + 0px;
}
.grid-command {
    width: @itemlist-width + 0px;
    height: @pos-grid-command-heigth + 0px;
    border-left: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
    border-right: 1px solid @border-color;
    padding: 5px;
}
.notes {
    width: @itemlist-width + 0px;
    height: (@pos-bottom-height - @pos-grid-height - @pos-grid-command-heigth) + 0px;
    background-color: #c7e2d1;
    > div {
        padding: 5px 10px;
    }
    span {
        color: #44938e;
    }
    input[type=text] {
        height: 30px;
        width: 380px;
        border: 0;
    }
}
.keypad {
    width: @keypad-width + 0px;
    height: @pos-bottom-height + 0px;
    .inline;
    background-color: aqua;
}

.calc-pad {
    width: (@pos-width - @itemlist-width - @keypad-width) + 0px;
    height: @pos-bottom-height + 0px;
    .inline;
    background-color: crimson;
}

.spyglass-button {
    width: 40px;
    float:right;
    display: inline-block;
}

// Button
.button {
    /*height: 35px;
    line-height: 35px;*/
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.button:hover {
    border: 1px solid black;
}
.button:active {
    border-width: 2px;
}

.btn-enter {
    @btn-enter-heigth: 30px;
    height: @btn-enter-heigth;
    line-height: @btn-enter-heigth;
    width: 200px;
    font-size: 12pt;
    background-color: #44938e;
}


.btn-grid-command {
    color: #9f791e;
    background-color: #f3e3c1;
    width: 150px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
}

.btn-print-invoice {
    .btn-grid-command;
    float: left;
}

.btn-delete {
    .btn-grid-command;
    float: right;
}

// Kilin Grid
.k-grid-container {
    border-color: @border-color;
}
.k-grid {
    th {
        text-align: center;
        border-color: @border-color;
    }
}
.main th {
    background-color: #e6c274;
}
.holdsales th {
    background-color: #f9e3e5;
}


// Numpad
.keypad-button {
    border-top: 1px solid @border-color;
    border-left: 1px solid @border-color;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    float: left;
    font-weight: lighter;
    &:hover {
        border: 1px solid gray;
    }
    &:active {
        border: 2px solid green;
    }
}

.num {
    .keypad-button;
    background-color: white;
    color: #878787;
    font-size: 20pt;
    width: 70px;
    height: 67px;
    line-height: 70px;
}

.num.rightmost {
    border-right: 1px solid @border-color;
    clear: right;
}
.num.bottommost {
    height: 69px;
    border-bottom: 1px solid @border-color;
}
// Calculator-pad
.calc-group1 {
    width: 70px;
    height: 134px;
    background-color: white;
    display: inline-block;
    float: left;
}
.btn-calc-del {
    .keypad-button;
    width: 70px;
    height: 67px;
}
.btn-calcfield-clear {
    .keypad-button;
    color: #878787;
    width: 70px;
    height: 67px;
    line-height: 67px;
    font-size: 20pt;
}

.btn-calcpad-clear {
    .keypad-button;
    background-color: #9fd7e6;
    color: white;
    font-size: 14pt;
    width: 75px;
    height: 134px;
    line-height: 134px;
}
.btn-hold {
    .keypad-button;
    background-color: #eda3a4;
    color: white;
    font-size: 14pt;
    width: 75px;
    height: 134px;
    line-height: 134px;
    border-right: 1px solid @border-color;
    clear: right;
}
.btn-calc-enter {
    .keypad-button;
    background-color: white;
    width: 70px;
    height: 136px;
    line-height: 136px;
    border-bottom: 1px solid @border-color;
}
.btn-getbill {
    .keypad-button;
    color: white;
    font-size: 50pt;
    background-color: #b6d7a8;
    width: 150px;
    height: 136px;
    line-height: 136px;
    border-bottom: 1px solid @border-color;
    border-right: 1px solid @border-color;
}
/*
<div class="calc-pad">
            <div class="calc-group1">

            </div>
            <div class="calc-clear">CLEAR</div>
            <div class="calc-hold">HOLD</div>
            <div class="calc-enter"><img src="../Images/calc-enter.png" /></div>
            <div class="calc-getbill">$</div>
        </div>
*/