﻿.fit-y {
  height: 100%;
}
.inline {
  display: block;
  float: left;
}
.pos-top {
  width: 1080px;
  height: 435px;
}
.pos-bottom {
  width: 1080px;
  height: 270px;
}
.pos-left {
  width: 860px;
  display: block;
  float: left;
  height: 100%;
}
.pos-right {
  width: 220px;
  display: block;
  float: left;
  height: 100%;
  background-color: white;
  border-top: 1px solid #bebebe;
  border-left: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
  text-align: center;
  padding: 10px 15px;
}
.pos-right .pos-logo {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.pos-right .pos-user {
  height: 75px;
  border-bottom: 1px solid black;
}
.bar-top {
  height: 40px;
}
.element-box-border {
  border-top: 1px solid #bebebe;
  border-left: 1px solid #bebebe;
}
.bar-sum {
  height: 80px;
  background-color: white;
  border-top: 1px solid #bebebe;
  border-left: 1px solid #bebebe;
}
.bar-sum .amount-big {
  height: 100%;
  display: inline-block;
  float: left;
  padding-left: 10px;
}
.bar-sum .amount-big span {
  font-size: 50pt;
  font-weight: lighter;
  color: gray;
}
.bar-sum .amount-small {
  height: 100%;
  display: table;
  float: right;
}
.bar-sum .amount-small div {
  vertical-align: middle;
  display: table-cell;
  text-align: right;
  color: gray;
  font-weight: lighter;
  padding-right: 10px;
}
.bar-sum .amount-small div span {
  font-weight: lighter;
  margin-left: 3px;
}
.login-info {
  width: 560px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  float: left;
  /*.fit-y;*/
  color: white;
  font-weight: lighter;
  font-size: 12pt;
  background-color: #bebebe;
}
.product-search {
  background-color: #c7e2d1;
  width: 300px;
  height: 40px;
  display: block;
  float: left;
  display: table;
  font-weight: lighter;
  /*.fit-y;*/
}
.product-search .div-search-input {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
}
.product-search .div-search-input input[type=text] {
  font-weight: lighter;
  color: #449e8e;
  border: 0 !important;
  background-color: transparent;
  width: 240px;
  font-size: 13pt;
  text-align: center;
}
.switchable-pane {
  height: 315px;
}
.catalog {
  height: 315px;
}
.menu1 {
  height: 65px;
  width: 860px;
  background-color: #f3e3c1;
}
.menu1 > .nav-arrow {
  width: 65px;
  height: 65px;
  display: inline-block;
  -webkit-box-shadow: inset 0 0 0 0 1px solid #bebebe;
  -moz-box-shadow: inset 0 0 0 0 1px solid #bebebe;
  box-shadow: inset 0 0 0 0 1px solid #bebebe;
}
.menu1 > .nav-arrow:active {
  outline: 1px solid black;
}
.menu1 > .nav-arrow.left {
  float: left;
}
.menu1 > .nav-arrow.right {
  float: right;
}
.menu1 > .item-bar {
  border-top: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
  float: left;
  overflow: hidden;
  width: 730px;
  height: 65px;
  white-space: nowrap;
  cursor: pointer;
}
.menu1 > .item-bar .menu1-item {
  color: #f39f3c;
  width: 91px;
  border-right: 1px solid #bebebe;
  height: 65px;
  line-height: 65px;
  text-align: center;
  display: inline-block;
  float: left;
  overflow: hidden;
}
.menu1 > .item-bar .menu1-item:active {
  color: #db5717;
  background-color: white;
}
.menu1 > .item-bar .menu1-item.active {
  background-color: white;
}
.menu1 > .item-bar .menu1-item:last-child {
  border-right: none;
}
.menu2 {
  height: 250px;
  border-left: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
  width: 160px;
  display: block;
  float: left;
  background-color: #fadcdc;
  cursor: pointer;
}
.menu2 .menu2-arrow {
  text-align: center;
}
.menu2 .menu2-arrow img {
  width: 48px;
}
.menu2 .menu2-arrow:active {
  outline: 1px solid black;
}
.menu2 .menu2-items {
  height: 180px;
}
.menu2 .menu2-items .menu2-item:first-child {
  border-top: 1px solid #f4aca0;
}
.menu2 .menu2-items .menu2-item {
  color: #f4aca0;
  width: 150px;
  height: 30px;
  line-height: 31px;
  margin: 0 5px;
  border-bottom: 1px solid #f4aca0;
  text-align: center;
  overflow: hidden;
}
.menu2 .menu2-items .menu2-item:active {
  color: #e86076;
  background-color: white;
}
.menu2 .menu2-items .menu2-item.active {
  background-color: white;
}
.menu3 {
  height: 250px;
  width: 700px;
  display: block;
  float: left;
  /* Bootstrap */
  /*.nav-tabs {
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
        border-bottom: 1px solid @border-color !important;
        border-bottom: none !important;
        > li { 
            background-color: white;
            float: none;
            display: inline-block;
            > a {
                color: teal;
                font-weight: lighter;
                margin: 0;
                border-radius: 0 !important;
                border-left: 0;
                border-right: 1px solid @border-color;
                padding: 0 !important;
                width: @tab-width + 0px !important;
                height: @tab-height + 0px !important;
                line-height: 35px;
                text-align: center;
                &:hover {
                    color: teal !important;
                }
                &:active {
                    color: teal !important;
                }
            }
        }
    }*/
}
.menu3 .menu3-tab-view {
  /*margin-top: -1px;*/
  /*border-top: 1px solid @border-color;*/
  width: 700px;
  height: 215px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}
.menu3 .menu3-item {
  background-color: #cdeaf8;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 90px;
  height: 50px;
  line-height: 50px;
  float: left;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
.menu3 .menu3-item:active {
  color: teal;
  border: 1px solid teal;
  background-color: white;
}
.menu3 .nav-tabs {
  white-space: nowrap;
}
.menu3 .nav-tabs > li {
  width: 175px !important;
  display: inline-block;
  float: none;
}
.menu3 .nav-tabs > li > a {
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  border-left-color: transparent;
  text-align: center;
}
.menu3 .nav-tabs > li.nav-page {
  width: 50px !important;
}
.menu3 .modal-dialog {
  margin-top: 200px !important;
}
.menu3 .modal-dialog .modal-body {
  overflow: hidden;
  /* Adjust height according to contents */
}
.switch-bar {
  position: absolute;
  right: 0;
  z-index: 1;
  height: 315px;
  width: 70px;
  /*background-color: red;*/
  border-top: 1px solid #bebebe;
  border-left: 1px solid #bebebe;
}
.switch-bar img {
  height: 314px;
  width: 69px;
}
.holdsales {
  position: relative;
}
.holdsales .holdsales-container {
  height: 315px;
}
.holdsales .holdsales-container .holdsales-caption {
  width: 790px;
  height: 40px;
  line-height: 40px;
  color: white;
  font-size: 14pt;
  font-weight: lighter;
  padding-left: 30px;
  background-color: #eda3a4;
}
.holdsales .holdsales-container .holdsales-grid {
  width: 790px;
  height: 235px;
}
.holdsales .holdsales-container .holdsales-command {
  width: 790px;
  height: 40px;
  border-left: 1px solid #bebebe;
  border-top: 1px solid #bebebe;
  padding-top: 5px;
}
.holdsales .holdsales-container .holdsales-command .btn-holdsales-command {
  color: #eda3a4;
  background-color: #f9e3e5;
  width: 150px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  margin-right: 5px;
}
.holdsales .holdsales-container .holdsales-command .btn-holdsales-apply {
  color: #eda3a4;
  background-color: #f9e3e5;
  width: 150px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  margin-right: 5px;
  float: right;
}
.holdsales .holdsales-container .holdsales-command .btn-holdsales-cancel {
  color: #eda3a4;
  background-color: #f9e3e5;
  width: 150px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  margin-right: 5px;
  float: right;
}
.cashier {
  position: relative;
}
.cashier .cashier-container {
  height: 315px;
}
.cashier .cashier-container .btn-cashier-command {
  color: #6f985c;
  background-color: #b6d7a8;
  font-size: 14pt;
  font-weight: lighter;
  width: 180px;
  height: 35px;
  line-height: 35px;
  display: inline-block;
}
.cashier .cashier-container .btn-cashier-command:first-child {
  margin-left: 28px;
}
.cashier .cashier-container .btn-cashier-command.btn-disable {
  cursor: not-allowed;
  background-color: gray !important;
}
.cashier .cashier-container .btn-cashier-apply {
  color: #6f985c;
  background-color: #b6d7a8;
  font-size: 14pt;
  font-weight: lighter;
  width: 180px;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  float: right;
}
.cashier .cashier-container .btn-cashier-apply:first-child {
  margin-left: 28px;
}
.cashier .cashier-container .btn-cashier-apply.btn-disable {
  cursor: not-allowed;
  background-color: gray !important;
}
.cashier .cashier-container .btn-cashier-cancel {
  color: #6f985c;
  background-color: #b6d7a8;
  font-size: 14pt;
  font-weight: lighter;
  width: 180px;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  float: right;
}
.cashier .cashier-container .btn-cashier-cancel:first-child {
  margin-left: 28px;
}
.cashier .cashier-container .btn-cashier-cancel.btn-disable {
  cursor: not-allowed;
  background-color: gray !important;
}
.cashier .cashier-container .cashier-form {
  width: 790px;
  height: 269px;
}
.cashier .cashier-container .cashier-form .form-cell {
  line-height: 35px;
  height: 35px;
  display: inline-block;
  font-size: 15pt;
  font-weight: lighter;
  position: absolute;
}
.cashier .cashier-container .cashier-form .txt-container {
  line-height: 35px;
  height: 35px;
  display: inline-block;
  font-size: 15pt;
  font-weight: lighter;
  position: absolute;
  border: 1px solid #bebebe;
}
.cashier .cashier-container .cashier-form .txt-container input[type=text] {
  height: 32px;
  width: 100%;
}
.cashier .cashier-container .cashier-form .txt-cashier {
  border: none;
  text-align: center;
  color: gray;
  font-size: 12pt;
}
.cashier .cashier-container .cashier-form .form-row {
  width: 790px;
  height: 46px;
  color: #6f985c;
  border-left: 1px solid #bebebe;
  border-top: 1px solid #bebebe;
  padding-top: 5px;
  position: relative;
}
.cashier .cashier-container .cashier-form .form-row .caption {
  line-height: 35px;
  height: 35px;
  display: inline-block;
  font-size: 15pt;
  font-weight: lighter;
  position: absolute;
  /*font-size: 15pt;
                    font-weight: lighter;*/
  margin-left: 20px;
}
.cashier .cashier-container .cashier-form .form-row .txt-customer-container {
  line-height: 35px;
  height: 35px;
  display: inline-block;
  font-size: 15pt;
  font-weight: lighter;
  position: absolute;
  border: 1px solid #bebebe;
  left: 190px;
  width: 570px;
}
.cashier .cashier-container .cashier-form .form-row .txt-customer-container input[type=text] {
  height: 32px;
  width: 100%;
}
.cashier .cashier-container .cashier-form .form-row .txt-customer-container .selectize-input {
  height: 33px;
  border: none;
}
.cashier .cashier-container .cashier-form .form-row .txt-customer-container .selectize-input > div:first-child {
  height: 33px;
  line-height: 33px;
}
.cashier .cashier-container .cashier-form .form-row .txt-discount-container {
  width: 200px;
  line-height: 35px;
  height: 35px;
  display: inline-block;
  font-size: 15pt;
  font-weight: lighter;
  position: absolute;
  border: 1px solid #bebebe;
  left: 190px;
}
.cashier .cashier-container .cashier-form .form-row .txt-discount-container input[type=text] {
  height: 32px;
  width: 100%;
}
.cashier .cashier-container .cashier-form .form-row .txt-pricing-container {
  width: 570px;
  line-height: 35px;
  height: 35px;
  display: inline-block;
  font-size: 15pt;
  font-weight: lighter;
  position: absolute;
  border: 1px solid #bebebe;
  left: 190px;
}
.cashier .cashier-container .cashier-form .form-row .txt-pricing-container input[type=text] {
  height: 32px;
  width: 100%;
}
.cashier .cashier-container .cashier-form .form-row .btn-form-command {
  height: 35px;
  line-height: 35px;
  background-color: #b6d7a8;
  display: inline-block;
  position: absolute;
  font-size: 14pt;
  font-weight: lighter;
}
.cashier .cashier-container .cashier-form .form-row .btn-cashier-search {
  height: 35px;
  line-height: 35px;
  background-color: #b6d7a8;
  display: inline-block;
  position: absolute;
  font-size: 14pt;
  font-weight: lighter;
  left: 579px;
  width: 180px;
}
.cashier .cashier-container .cashier-form .form-row .btn-cashier-dollar {
  height: 35px;
  line-height: 35px;
  background-color: #b6d7a8;
  display: inline-block;
  position: absolute;
  font-size: 14pt;
  font-weight: lighter;
  left: 395px;
  width: 180px;
}
.cashier .cashier-container .cashier-form .form-row .btn-cashier-percent {
  height: 35px;
  line-height: 35px;
  background-color: #b6d7a8;
  display: inline-block;
  position: absolute;
  font-size: 14pt;
  font-weight: lighter;
  left: 579px;
  width: 180px;
}
.cashier .cashier-container .cashier-form .form-row .btn-cashier-inactive {
  background-color: gray !important;
}
.cashier .cashier-container .cashier-form .form-last-row {
  width: 790px;
  height: 131px;
  /* = 275px - 3*40px */
  color: #6f985c;
  border-left: 1px solid #bebebe;
  border-top: 1px solid #bebebe;
}
.cashier .cashier-container .cashier-form .form-last-row .col {
  height: 131px;
  display: block;
  float: left;
}
.cashier .cashier-container .cashier-form .form-last-row .col1 {
  height: 131px;
  display: block;
  float: left;
  width: 400px;
  border-right: 1px solid #bebebe;
  position: relative;
}
.cashier .cashier-container .cashier-form .form-last-row .col1 .caption {
  position: absolute;
  font-size: 15pt;
  font-weight: lighter;
  left: 20px;
  top: 10px;
}
.cashier .cashier-container .cashier-form .form-last-row .col1 .col1-button {
  height: 35px;
  width: 117px;
  line-height: 35px;
  background-color: #b6d7a8;
  display: inline-block;
  position: absolute;
  font-size: 14pt;
  font-weight: lighter;
}
.cashier .cashier-container .cashier-form .form-last-row .col1 .btn-cash {
  height: 35px;
  width: 117px;
  line-height: 35px;
  background-color: #b6d7a8;
  display: inline-block;
  position: absolute;
  font-size: 14pt;
  font-weight: lighter;
  left: 20px;
  top: 40px;
}
.cashier .cashier-container .cashier-form .form-last-row .col1 .btn-credit {
  height: 35px;
  width: 117px;
  line-height: 35px;
  background-color: #b6d7a8;
  display: inline-block;
  position: absolute;
  font-size: 14pt;
  font-weight: lighter;
  left: 142px;
  top: 40px;
}
.cashier .cashier-container .cashier-form .form-last-row .col1 .btn-cheque {
  height: 35px;
  width: 117px;
  line-height: 35px;
  background-color: #b6d7a8;
  display: inline-block;
  position: absolute;
  font-size: 14pt;
  font-weight: lighter;
  left: 264px;
  top: 40px;
}
.cashier .cashier-container .cashier-form .form-last-row .col1 .txt-paymentamount-container {
  line-height: 35px;
  height: 35px;
  display: inline-block;
  font-size: 15pt;
  font-weight: lighter;
  position: absolute;
  border: 1px solid #bebebe;
  width: 360px;
  left: 20px;
  top: 80px;
}
.cashier .cashier-container .cashier-form .form-last-row .col1 .txt-paymentamount-container input[type=text] {
  height: 32px;
  width: 100%;
}
.cashier .cashier-container .cashier-form .form-last-row .col2 {
  height: 131px;
  display: block;
  float: left;
  width: 194px;
  border-right: 1px solid #bebebe;
  position: relative;
}
.cashier .cashier-container .cashier-form .form-last-row .col2 .caption {
  position: absolute;
  font-size: 15pt;
  font-weight: lighter;
  width: 155px;
  text-align: center;
  left: 20px;
  top: 10px;
}
.cashier .cashier-container .cashier-form .form-last-row .col2 .txt-amt-tendered-container {
  line-height: 35px;
  height: 35px;
  display: inline-block;
  font-size: 15pt;
  font-weight: lighter;
  position: absolute;
  border: 1px solid #bebebe;
  width: 155px;
  left: 20px;
  top: 80px;
}
.cashier .cashier-container .cashier-form .form-last-row .col2 .txt-amt-tendered-container input[type=text] {
  height: 32px;
  width: 100%;
}
.cashier .cashier-container .cashier-form .form-last-row .col3 {
  height: 131px;
  display: block;
  float: left;
  width: 194px;
  position: relative;
}
.cashier .cashier-container .cashier-form .form-last-row .col3 .caption {
  position: absolute;
  font-size: 15pt;
  font-weight: lighter;
  width: 155px;
  text-align: center;
  left: 20px;
  top: 10px;
}
.cashier .cashier-container .cashier-form .form-last-row .col3 .txt-amt-changed-container {
  line-height: 35px;
  height: 35px;
  display: inline-block;
  font-size: 15pt;
  font-weight: lighter;
  position: absolute;
  border: 1px solid #bebebe;
  width: 155px;
  left: 20px;
  top: 80px;
}
.cashier .cashier-container .cashier-form .form-last-row .col3 .txt-amt-changed-container input[type=text] {
  height: 32px;
  width: 100%;
}
.cashier .cashier-container .cashier-command {
  width: 790px;
  height: 46px;
  border-left: 1px solid #bebebe;
  border-top: 1px solid #bebebe;
  padding-top: 5px;
}
.caption-holdsale-customername {
  margin-left: 5px;
}
.btn-customername-ok {
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: #b6d7a8;
  outline: 1px solid gray;
  font-size: 16pt;
  text-align: center;
  margin-top: 20px;
}
.sel-holdsale-customername {
  margin-top: 5px;
  width: 300px;
  /*display: inline-block;*/
}
.itemlist {
  width: 650px;
  display: block;
  float: left;
}
.pos-grid {
  width: 650px;
  height: 190px;
}
.grid-command {
  width: 650px;
  height: 40px;
  border-left: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
  padding: 5px;
}
.notes {
  width: 650px;
  height: 40px;
  background-color: #c7e2d1;
}
.notes > div {
  padding: 5px 10px;
}
.notes span {
  color: #44938e;
}
.notes input[type=text] {
  height: 30px;
  width: 380px;
  border: 0;
}
.keypad {
  width: 210px;
  height: 270px;
  display: block;
  float: left;
  background-color: aqua;
}
.calc-pad {
  width: 220px;
  height: 270px;
  display: block;
  float: left;
  background-color: crimson;
}
.spyglass-button {
  width: 40px;
  float: right;
  display: inline-block;
}
.button {
  /*height: 35px;
    line-height: 35px;*/
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.button:hover {
  border: 1px solid black;
}
.button:active {
  border-width: 2px;
}
.btn-enter {
  height: 30px;
  line-height: 30px;
  width: 200px;
  font-size: 12pt;
  background-color: #44938e;
}
.btn-grid-command {
  color: #9f791e;
  background-color: #f3e3c1;
  width: 150px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}
.btn-print-invoice {
  color: #9f791e;
  background-color: #f3e3c1;
  width: 150px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  float: left;
}
.btn-delete {
  color: #9f791e;
  background-color: #f3e3c1;
  width: 150px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  float: right;
}
.k-grid-container {
  border-color: #bebebe;
}
.k-grid th {
  text-align: center;
  border-color: #bebebe;
}
.main th {
  background-color: #e6c274;
}
.holdsales th {
  background-color: #f9e3e5;
}
.keypad-button {
  border-top: 1px solid #bebebe;
  border-left: 1px solid #bebebe;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  float: left;
  font-weight: lighter;
}
.keypad-button:hover {
  border: 1px solid gray;
}
.keypad-button:active {
  border: 2px solid green;
}
.num {
  border-top: 1px solid #bebebe;
  border-left: 1px solid #bebebe;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  float: left;
  font-weight: lighter;
  background-color: white;
  color: #878787;
  font-size: 20pt;
  width: 70px;
  height: 67px;
  line-height: 70px;
}
.num:hover {
  border: 1px solid gray;
}
.num:active {
  border: 2px solid green;
}
.num.rightmost {
  border-right: 1px solid #bebebe;
  clear: right;
}
.num.bottommost {
  height: 69px;
  border-bottom: 1px solid #bebebe;
}
.calc-group1 {
  width: 70px;
  height: 134px;
  background-color: white;
  display: inline-block;
  float: left;
}
.btn-calc-del {
  border-top: 1px solid #bebebe;
  border-left: 1px solid #bebebe;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  float: left;
  font-weight: lighter;
  width: 70px;
  height: 67px;
}
.btn-calc-del:hover {
  border: 1px solid gray;
}
.btn-calc-del:active {
  border: 2px solid green;
}
.btn-calcfield-clear {
  border-top: 1px solid #bebebe;
  border-left: 1px solid #bebebe;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  float: left;
  font-weight: lighter;
  color: #878787;
  width: 70px;
  height: 67px;
  line-height: 67px;
  font-size: 20pt;
}
.btn-calcfield-clear:hover {
  border: 1px solid gray;
}
.btn-calcfield-clear:active {
  border: 2px solid green;
}
.btn-calcpad-clear {
  border-top: 1px solid #bebebe;
  border-left: 1px solid #bebebe;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  float: left;
  font-weight: lighter;
  background-color: #9fd7e6;
  color: white;
  font-size: 14pt;
  width: 75px;
  height: 134px;
  line-height: 134px;
}
.btn-calcpad-clear:hover {
  border: 1px solid gray;
}
.btn-calcpad-clear:active {
  border: 2px solid green;
}
.btn-hold {
  border-top: 1px solid #bebebe;
  border-left: 1px solid #bebebe;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  float: left;
  font-weight: lighter;
  background-color: #eda3a4;
  color: white;
  font-size: 14pt;
  width: 75px;
  height: 134px;
  line-height: 134px;
  border-right: 1px solid #bebebe;
  clear: right;
}
.btn-hold:hover {
  border: 1px solid gray;
}
.btn-hold:active {
  border: 2px solid green;
}
.btn-calc-enter {
  border-top: 1px solid #bebebe;
  border-left: 1px solid #bebebe;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  float: left;
  font-weight: lighter;
  background-color: white;
  width: 70px;
  height: 136px;
  line-height: 136px;
  border-bottom: 1px solid #bebebe;
}
.btn-calc-enter:hover {
  border: 1px solid gray;
}
.btn-calc-enter:active {
  border: 2px solid green;
}
.btn-getbill {
  border-top: 1px solid #bebebe;
  border-left: 1px solid #bebebe;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  float: left;
  font-weight: lighter;
  color: white;
  font-size: 50pt;
  background-color: #b6d7a8;
  width: 150px;
  height: 136px;
  line-height: 136px;
  border-bottom: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
}
.btn-getbill:hover {
  border: 1px solid gray;
}
.btn-getbill:active {
  border: 2px solid green;
}
/*# sourceMappingURL=pos.css.map */