﻿/////////////////////////////////////////////
//
// Color definition
//
/////////////////////////////////////////////
@color-border-normal: #808183;
@color-bg-teal: #44938e;
@color-fg-teal: #44938e;
@color-table-teal: #44938e;
@color-border-teal: #44938e;
@color-bg-blue: #f5fafe;
//@color-fg-blue: #2f7a8d;
@color-fg-blue: #0575bd;
@color-table-blue: #7fb9d1;
@color-border-blue: #2f7a8d;
@color-bg-red: #fff9f9;
@color-fg-red: #ed6d50;
@color-table-red: #ed6d50;
@color-border-red: #ed6d50;
@color-bg-green: #fbfcf4;
@color-fg-green: #79a438;
@color-table-green: #79a438;
@color-border-green: #79a438;
@color-bg-yellow: #fdfaf5;
@color-fg-yellow: #c38e00;
@color-table-yellow: #c38e00;
@color-border-yellow: #c38e00;
@color-bg-purple: #f8f6f9;
@color-fg-purple: #6d4c77;
@color-table-purple: #6f4a76;
@color-border-purple: #6f4a76;
@color-fg-gray: #c0c0c0;
@color-border-gray: #808183;
@color-border-gray-grid: #d0d0d0;
@color-bg-brown: #f3eeea;
@color-fg-brown: #bfa08b;
@color-table-brown: #bfa08b;
@color-border-brown: #bfa08b;
@color-bg-orange: #fdf8f4;
@color-fg-orange: #e47b0a;
@color-table-orange: #f1b777;
@color-border-orange: #f1b777;
@color-bg-pink: #fef5f6;
@color-fg-pink: #e75a73;
@color-table-pink: #eeb2ba;
@color-border-pink: #eeb2ba;

@color-bg-readonly: #f0f0f0;

@color-text-search: @color-fg-teal;
@color-header-bg-search: @color-bg-teal;

// Font
@font-global-family: Helvetica, Arial, sans-serif;
@font-global-weight: bold;
@font-global-size: 10pt;
@font-color-global : #0575bd;

* {
    font: @font-global-weight @font-global-size @font-global-family;
}
.font-red {
    color: #ee473e;
}
.font-yellow {
    color: #f6a124;
}
.font-green {
    color: #22a754;
}
.font-blue {
    color: #1f82c3;
}
.font-violet {
    color: #6f4a76;
}
.header-1 {
    font-size: 15pt;
}
.header-2 {
    font-size: 12pt;
}
.header-3 {
    font-size: 11pt;
    font-weight: bold;
}

// Link
a:link, a:visited {color: #1f82c3;}
a:hover {
    color: #22a754;
    text-decoration: none;
} 
a:active {
    color: #f6a124;
    text-decoration: none;
} 

// Button
.btn-action {
    height: 22px;
    width: 70px;
    background-color: white;
    //border: 1px solid #808183;
    border: 1px solid @color-border-gray;
}
.btn-action-big {
    .btn-action;
    height: 35px;
    width: 150px;
}
.btn-blue {
    background: url(../images/button_mark_blue.png) no-repeat scroll right center;
    background-color: white;
    border: 2px solid #7fb9e1;
	color: #1f82c3;
    padding: 0px 16px;
}
.btn-red {
    background: url(../images/button_mark_red.png) no-repeat scroll right center;
    background-color: white ;
    border: 2px solid @color-border-red;
	color: @color-fg-red;
    padding: 0px 16px;
}
.btn-green {
    background: url(../images/button_mark_green.png) no-repeat scroll right center;
    background-color: white;
    border: 2px solid @color-border-green;
	color: @color-fg-green;
    padding: 0px 16px;
}
.btn-purple {
    background: url(../images/button_mark_purple.png) no-repeat scroll right center;
    background-color: white;
    border: 2px solid @color-border-purple;
	color: @color-fg-purple;
    padding: 0px 16px;
}
.btn-pink {
    background: url(../images/button_mark_pink.png) no-repeat scroll right center;
    background-color: white;
    border: 2px solid @color-border-pink;
	color: @color-fg-pink;
    padding: 0px 16px;
}
.footer-action {
    height: 35px;
    line-height: 35px;
    width: 110px;
    font-weight: bold;
    font-size: 12pt;
    vertical-align: middle;
    text-align: center;
    background-color: white;
    display: inline-block;
    cursor: pointer;
}
.btn-nav {
    background: url(../images/button_mark_brown.png) no-repeat scroll right center;
    .footer-action;
    width: 60px;
    border: 2px solid #c8af9b;
	color: #804819;
}
.btn-save {
    background: url(../images/button_mark_green.png) no-repeat scroll right center;
    .footer-action;
	border: 2px solid #98d5b3;
	color: #22a754;
}
.btn-void {
    background: url(../images/button_mark_red.png) no-repeat scroll right center;
    .footer-action;
	border: 2px solid #f1a494;
	color: #ee473e;
}
.btn-clear {
	background: url(../images/button_mark_blue.png) no-repeat scroll right center;
    .footer-action;
    border: 2px solid #7fb9e1;
	color: #1f82c3;
}
.btn-print {
    background: url(../images/button_mark_yellow.png) no-repeat scroll right center;
    .footer-action;
	border: 2px solid #fbc77b;
	color: #f6a124;
}
.btn-cancel {
    background: url(../images/button_mark_purple.png) no-repeat scroll right center;
    .footer-action;
	border: 2px solid #a593ad;
	color: #6f4a76;
}
.btn-action:hover 
{
    border-width: 2px;
}
.btn-action-big:hover,
.btn-nav:hover,
.btn-save:hover,
.btn-void:hover,
.btn-print:hover,
.btn-cancel:hover,
.btn-clear:hover
{
    /*
    border: 1px solid green;
    color: green;
    text-decoration: underline;
        */
    border-width: 3px;
}

// User's Control Panel
.control-panel {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');

    padding: 5px;
    background-color: white;
}

// Main search
@search-color: #44938e;
.txt-search-main {
	border: 1px solid @search-color !important;
	height: 20px !important;
	width: 335px;
    margin: 0px !important;
}
.btn-search-main {
	border: 1px solid @search-color;
	background-color: @search-color;
	color: #FFFFFF;
	width: 100px;
	height: 20px;
    margin-left: 0px;
}
.search-option {
    padding: 2px 10px;
    cursor: pointer;
    span {
        padding-left: 5px;
        padding-right: 5px;
        color: red;
    }
    &.active, &:hover {
        background-color: lightgreen;
    }
}

// Main menu
.div-menuitem {
    text-align: left;
    vertical-align: middle;
    padding: 5px 0px;
    color: gray;
    > img:first-child {
        margin-right: 5px;
    }
}
.div-menuitem-active
{
    color: black;
}

// Input 
input[type=button][disabled] {
    color: @color-fg-gray;
    border: 1px solid @color-bg-readonly;
}
select[disabled] {
    background-color: @color-bg-readonly;
}
input[type=text],
input[type=password],
textarea,
select
{
    border: 1px solid #808183;
    height: 22px;
}
input[type=text],
input[type=password],
textarea {
    padding-left: 5px;
}
textarea {
    resize: none;
}
input[type=text].search {
    background: url(../images/magnifying_glass.png) no-repeat scroll right center;
    background-color: white;
    padding-right: 20px;
}
.form input[type=text].readonly,
.form textarea.readonly
{
    /*background-color: white;*/
    background-color: @color-bg-readonly;
}

// Table

.cell {
	vertical-align: middle;
    padding-top: 5px;
}
td.cell-header
{
    .cell;
    font-size: 11pt;
    font-weight: bold;
    padding: 5px 0px 5px 5px;
    background-color: white;
}
td.cell-name {
    .cell;
}
td.cell-name.left {
    padding-left: 5px;
    text-align: left;
}
td.cell-name.right {
    padding-right: 5px;
    text-align: right;
}
td.cell-name.center {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
td.cell-control {
    .cell;
}
td.cell-control.left {
    text-align: left;
    padding-left: 5px;
}
td.cell-control.right {
    text-align: right;
    padding-right: 5px;
}
td.cell-control.center {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
table.data {
    width: 100%;
    border: 1px solid darkgray;
    background-color: white;
    > tbody > tr > th {
        color: white;
        text-align: center;
        background-color: #44938e;
    }
    > tbody > tr > td {
        color: white;
        text-align: center;
    }
}
table.form {
    //width: 100%;
}
table.form.blue {
    .cell-header,
    .cell-name {
        .text-blue;
    }
}
table.form.red {
    .cell-header,
    .cell-name {
        .text-red;
    }
}
table.form.yellow {
    .cell-header,
    .cell-name {
        .text-yellow;
    }
}
table.form.green {
    .cell-header,
    .cell-name {
        .text-green;
    }
}
table.form.purple {
    .cell-header,
    .cell-name {
        .text-purple;
    }
}
.form.doublecolumn {
    td:not(.cell-header) {
        vertical-align: top;
        padding-top: 5px;
        padding-left: 5px;
        text-align: left;
    }
    tr > td:first-child:not(.cell-header) {
        width: 150px;
    }
    tr > td:first-child + td {
        width: 230px;
        padding-left: 5px;
        input[type=text]:not(.custom),
        select:not(.custom),
        textarea:not(.custom) {
            width: 95%;
        }
    }
    tr > td:first-child + td + td {
        width: 150px;
    }
    tr > td:first-child + td + td + td {
        width: 230px;
        padding-left: 5px;
        input[type=text]:not(.custom),
        select:not(.custom),
        textarea:not(.custom) {
            width: 95%;
        }
    }
}
.form.doublecolumn.red {
    tr > td:first-child {
        .text-red;
    }
    tr > td:first-child + td + td {
        .text-red;
    }
}
.form.doublecolumn.green {
    tr > td:first-child {
        .text-green;
    }
    tr > td:first-child + td + td {
        .text-green;
    }
}
.form.doublecolumn.blue {
    tr > td:first-child {
        .text-blue;
    }
    tr > td:first-child + td + td {
        .text-blue;
    }
}
.form.doublecolumn.yellow {
    tr > td:first-child {
        .text-yellow;
    }
    tr > td:first-child + td + td {
        .text-yellow;
    }
}
.form.doublecolumn.purple {
    tr > td:first-child {
        .text-purple;
    }
    tr > td:first-child + td + td {
        .text-purple;
    }
}


// Select
select {
    height: 22px;
}

// Div
div.body
{
    max-width: 1000px;
    min-width: 1000px;
    margin: 5px auto auto auto;
}
div.section {
    padding-bottom: 10px;
}
div.section.header {
    padding-top: 5px;
}
div.section-last {
    padding-bottom: 0px;
}
div.line {
    height: 2px;
    border: 1px solid @color-border-gray;
}
div.float-left {
    float: left;
}
div.float-right {
    float: right;
}
div.clear-both {
    clear: both;
}
div.float-fill {
    overflow: hidden;
}

.images-holder{
    @size-x: 150px;
    @size-y: 150px;
    height: @size-x;
    width: @size-y;
    background-color: white;
    border: 1px solid @color-border-gray;
}

// Auto-validation invalid tooltip
.invalid
{
    background-color:Yellow;
    border: 1px solid Red;
}
div.tooltip-invalid
{
    display:block;
    position:absolute;
    border:1px solid black;
    background-color:Yellow;
    padding:5px 5px 5px 5px;
    width:250px;
    margin:10px 0px 0px 20px;
    z-index:2147483647; /* Maximum z-index value for IE. Ensure the tooltip is always on top of everything. */
}
div.tooltip-invalid .tooltip-invalid-header { font-weight:bold; }
div.tooltip-invalid .tooltip-invalid-body {}

///////////////////////////////////////////////////////
//
// Text Alignment
//
///////////////////////////////////////////////////////
.text-center
{
    text-align: center;
}

///////////////////////////////////////////////////////
//
// Table Alignment
//
///////////////////////////////////////////////////////
table.center
{
    margin-left: auto; 
    margin-right: auto;
}

///////////////////////////////////////////////////////
//
// Table View (Dynamic Tooltip)
//
///////////////////////////////////////////////////////
.dynamic-tooltip {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 200px;
    display: block;
    font-size: 12px;
    line-height: 16px;
    background: #fefdcd;
    padding: 2px 2px;
    border: 1px solid #c0c0c0;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}


///////////////////////////////////////////////////////
//
// Theme
//
///////////////////////////////////////////////////////
.theme( @color-text, @color-bg, @color-table )
{
    padding: 5px 5px 5px 25px;
    // Remove the bottom-border of the first tabstrip if there are 2 tabstrips on the page
    @border-tab: 1px solid @color-border-gray;
    .nav-tabs {
        margin-bottom: 0;
        border-bottom: @border-tab;
        > li {
            width: 170px;
            text-align: center;
            > a {
                font-size: 12pt;
                font-weight: normal;
                border-radius: 0;
                padding: 5px 5px;
                margin-right: 5px;
            }
        }
    }
    .nav-tabs.first-row {
        border-bottom: none;
        + .nav-tabs {
            padding-top: 5px;
        }
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        background-color: @color-bg;
        color: @color-text;
        border: @border-tab;
        border-bottom-color: transparent;
    }
    .tab-content {
        background-color: @color-bg;
        border-left: @border-tab;
        border-right: @border-tab;
        border-bottom: @border-tab;
        padding: 10px 20px 10px 20px;
    }

    // Caption
    .caption {
        .header-3;
        color: @color-text;
    }
    .caption-normal {
        color: @color-text;
    }
    
    // Action buttons
    .btn-action {
        color: @color-text;
    }

    // Form
    td.left { text-align: left; }
    td.right { text-align: right; }
    td.center { text-align: center; }
    td.top { vertical-align: top; }
    td.middle { vertical-align: middle; }
    td.bottom { vertical-align: bottom; }

    .form.double {
        .cell {
            vertical-align: top;
            //padding-left: 5px;
            padding-left: 10px;
            text-align: left;
        }
        .cell-name {
            .cell;
            color: @color-text;
            width: 150px;
            padding-top: 8px;
        }
        .cell-control {
            .cell;
            width: 230px;
            padding-top: 5px;
            //padding-left: 5px;
            input[type=text],
            select,
            textarea {
                //width: 95%;
                width: 100%;
            }
        }
        tr > td:first-child {
            .cell-name;
        }
        tr > td:first-child + td {
            .cell-control;
        }
        tr > td:first-child + td + td {
            .cell-name;
        }
        tr > td:first-child + td + td + td {
            .cell-control;
        }
    }
    .form.summary {
        // New Summary form
        width: 100%;
        @summary-cell-padding: 8px 0px 0px 10px;
        .caption {
            padding: @summary-cell-padding;
            width: 60px;
        }
        .control {
            padding: @summary-cell-padding;
            width: 305px;
        }
        .control-amount {
            padding: @summary-cell-padding;
            width: 305px;
            input[type=text] {
                text-align: right;
                padding-right: 10px;
            }
        }
        .caption-amount {
            color: @color-text;
            font-size: 12pt;
            padding: @summary-cell-padding;
            width: 90px;
        }
        input[type=text] {
            width: 100%;
        }

        // Old Summary form
        .cell {
            vertical-align: top;
            padding-left: 10px;
            text-align: left;
        }
        .cell-name {
            .cell;
            color: @color-text;
            width: 90px;
            padding-top: 8px;
        }
        .cell-control {
            .cell;
            width: 240px;
            padding-top: 5px;
            padding-left: 5px;
            input[type=text],
            select,
            textarea {
                width: 100%;
            }
        }
        .summary-caption {
            .cell-name;
        }
        .summary-control {
            .cell-control;
        }
        .summary-caption-big {
            .header-2;
            .cell-name;
        }
        .pane-void {
            text-align: center;
            vertical-align: middle;
        }
    }
    .form.single {
        td {
            vertical-align: top;
            padding-top: 5px;
            //padding-left: 5px;
            text-align: left;
        }
        tr > td:first-child:not(.custom) {
            color: @color-text;
            width: 175px;
            padding-left: 10px;
        }
        tr > td:first-child + td:not(.custom) {
            width: 255px;
            input[type=text],
            select,
            textarea {
                //width: 250px;
                width: 100%;
            }
        }
    }

    .cell-header {
        color: @color-text;
        vertical-align: middle;
        font-size: 11pt;
        font-weight: bold;
        //padding: 5px 0px 5px 5px;
        padding: 5px 0px 5px 10px;
        background-color: white;
    }
    // Div GridItem command
    .grid-command {
        background-color: white;
        padding: 10px;
        overflow: hidden; // to wrap two floating divs inside
        > div { float: left; } // Edit & Delete buttons
        > div + div { // Selected By
            float: right; 
        }
    }
    .grid-command:not(.no-border) {
        @border-command: 1px solid @color-border-gray;
        border-top: @border-command;
        border-left: @border-command;
        border-right: @border-command;
    }
    .grid-command:not(.search) span {
        font-weight: bold;
        color: @color-text;
        padding-right: 20px;
    }
    
    .grid-command.search {
        .btn-action {
            color: @color-text-search;
        }
        span {
            font-weight: bold;
            color: @color-text-search;
            padding-right: 20px;
        }
    }
    .header-search {
        font-size: 11pt;
        background-color: @color-header-bg-search;
        border-top: 1px solid @color-border-gray;
        border-left: 1px solid @color-border-gray;
        border-right: 1px solid @color-border-gray;
        height: 25px;
        line-height: 25px;
        text-align: center;
        color: white;
        font-weight: normal;
    }
    // Table
    .grid {
        width: 100%;
        border-top: 1px solid @color-border-gray;
        border-left: 1px solid @color-border-gray;
        background-color: white;
        th {
            color: white;
            text-align: center;
            background-color: @color-table;
            border-right: 1px solid @color-border-gray;
            border-bottom: 1px solid @color-border-gray;
            height: 25px;
        }
        td {
            text-align: center;
            background-color: white;
            border-right: 1px solid @color-border-gray;
            border-bottom: 1px solid @color-border-gray;
            height: 25px;
            padding: 0px;
            input[type=text] {
                border: none;
                width: 100%;
                padding-left: 5px;
            }
            input[type=text].state-edit {
                background-color: yellow;
            }
        }
    }
    .grid.search {
        th {
            background-color: @color-table-teal;
        }
    }
    .kgrid-div-page
    {
        margin-top: -1px;
        background-color: white;
        border-top: 1px solid @color-border-gray;
        border-left: 1px solid @color-border-gray;
        border-right: 1px solid @color-border-gray;
        border-bottom: 1px solid @color-border-gray;
    }
    .kgrid-row-selected > td:first-child {
        background-color: #eeeeee;
    }
    .kgrid-row-selected input[type=text] {
        height: 25px;
    }

    .pane-void div {
        height: 40px;
        border: 2px solid red;
        background-color: red;
        color: white;
        font-weight: bold;
        font-size: 15pt;
        text-align: center;
        line-height: 40px;
    }

    // KilinGrid 2.0
    .k-grid {
        border: 1px solid @color-border-gray;
    }
    .k-grid th {
        text-align: center;
        background-color: @color-table;
        color: white;
    }
    
    .search .k-grid th {
        background-color: @color-table-teal;
    }
}
.theme-red {
    .theme( @color-fg-red, @color-bg-red, @color-table-red );
}
.theme-green {
    .theme( @color-fg-green, @color-bg-green, @color-table-green );
}
.theme-blue {
    .theme( @color-fg-blue, @color-bg-blue, @color-table-blue );
}
.theme-yellow {
    .theme( @color-fg-yellow, @color-bg-yellow, @color-table-yellow );
}
.theme-purple {
    .theme( @color-fg-purple, @color-bg-purple, @color-table-purple );
}
.theme-orange {
    .theme( @color-fg-orange, @color-bg-orange, @color-table-orange );
}
.theme-brown {
    .theme( @color-fg-brown, @color-bg-brown, @color-table-brown );
}
.theme-pink {
    .theme( @color-fg-pink, @color-bg-pink, @color-table-pink );
}
.theme-black {
    .theme( #000000, #000000, #000000 );
}

// Div Common controls
.common-control {
    text-align: center;
    margin-top: 10px;
    > div {
        display: inline-block;
        .transition-hover { border-width: 3px; }
        .disable {
            .footer-action;
            cursor: not-allowed !important;
	        border: 2px solid lightgray !important;
	        color: @color-fg-gray !important;
        }
        > div:first-child { .btn-nav; }
        > div:first-child + div { .btn-save; }
        > div:first-child + div + div { .btn-void; }
        > div:first-child + div + div + div { .btn-clear; }
        > div:first-child + div + div + div + div { .btn-print; }
        > div:first-child + div + div + div + div + div { .btn-cancel; }
        > div:first-child + div + div + div + div + div + div { .btn-nav; }
        > div:first-child:hover { .transition-hover }
        > div:first-child + div:hover { .transition-hover }
        > div:first-child + div + div:hover { .transition-hover }
        > div:first-child + div + div + div:hover { .transition-hover }
        > div:first-child + div + div + div + div:hover { .transition-hover }
        > div:first-child + div + div + div + div + div:hover { .transition-hover }
        > div:first-child + div + div + div + div + div + div:hover { .transition-hover }
    }
}

// Printable screen
.printable {
    padding: 10px;

    input[type=text] {
        border: 0;
        background: transparent;
    }
    > .caption {
        font-size: 15pt;
    }
    .grid-printable {
        border-top: 1px solid @color-border-gray;
        border-bottom: 1px solid @color-border-gray;
        th {
            border-bottom: 1px solid @color-border-gray;
        }
        th, td {
            padding: 0 10px 0 10px;
            height: 25px;
        }
    }
    .summary {
        .summary-caption {
            width: 100px !important;
        }
        .amount {
            width: 100px !important;
            text-align: right;
        }
    }
}

///////////////////////////////////////////////////////
//
// Bootstrap Customization
//
///////////////////////////////////////////////////////
// Color for active tab
.nav-tabs > li.active.blue > a,
.nav-tabs > li.active.blue > a:hover,
.nav-tabs > li.active.blue > a:focus
{
    background-color: @color-bg-blue;
    color: @color-fg-blue;
}
.tab-content.blue {
    background-color: @color-bg-blue;
}

.nav-tabs > li.active.red > a,
.nav-tabs > li.active.red > a:hover,
.nav-tabs > li.active.red > a:focus
{
    background-color: @color-bg-red;
    color: @color-fg-red;
}
.tab-content.red {
    background-color: @color-bg-red;
}

.nav-tabs > li.active.yellow > a,
.nav-tabs > li.active.yellow > a:hover,
.nav-tabs > li.active.yellow > a:focus
{
    background-color: @color-bg-yellow;
    color: @color-fg-yellow;
}
.tab-content.yellow {
    background-color: @color-bg-yellow;
}

.nav-tabs > li.active.green > a,
.nav-tabs > li.active.green > a:hover,
.nav-tabs > li.active.green > a:focus
{
    background-color: @color-bg-green;
    color: @color-fg-green;
}
.tab-content.green {
    background-color: @color-bg-green;
}

.nav-tabs > li.active.purple > a,
.nav-tabs > li.active.purple > a:hover,
.nav-tabs > li.active.purple > a:focus
{
    background-color: @color-bg-purple;
    color: @color-fg-purple;
}
.tab-content.purple {
    background-color: @color-bg-purple;
}
// Make all inactive tab gray
.nav-tabs > li.inactive > a,
.nav-tabs > li.inactive > a:hover,
.nav-tabs > li.inactive > a:focus
{
    color: white;
    background-color: #888888;
}
// Bootstrap Modal
.modal-content {
    border-radius: 0;
    .btn {
        border-radius: 0;
    }
    .modal-title {
        .info { font-weight: bold; }
        .error { 
            font-weight: bold;
            color: red;
        }
    }
}

//////////////////
// Selectize
.grid .selectize-input {
    border: none !important;
}
.selectize-input.disabled {
    background-color: @color-bg-readonly !important;
}

//////////////////
// AmountInput
.util-amountinput-disabled {
    background-color: @color-bg-readonly;
}

//////////////////
// DataTable

// Draw table border for thead ( Bootstrap does not do this at all )
.dataTable > thead > tr > td {
    border: 1px solid @color-border-normal;
}

// Table Header
.dataTable.header-blue > thead > tr > td
{
    color: white;
    background-color: @color-table-blue;
}
.dataTable.header-red > thead > tr > td
{
    color: white;
    background-color: @color-table-red;
}
.dataTable.header-yellow > thead > tr > td
{
    color: white;
    background-color: @color-table-yellow;
}
.dataTable.header-green > thead > tr > td
{
    color: white;
    background-color: @color-table-green;
}
.dataTable.header-purple > thead > tr > td
{
    color: white;
    background-color: @color-table-purple;
}
.dataTable.header-teal > thead > tr > td
{
    color: white;
    background-color: @color-table-teal;
}


////////////////////////////////////////////
//
// SubPage colorization
//
////////////////////////////////////////////
.bg-teal
{
    background-color: @color-bg-teal;
}
.bg-green {

}
.bg-purple{

}
.text-red {
    color: @color-fg-red;
}
.txt-blue {
    color: #0575bd;
}
.text-blue {
    color: @color-fg-blue;
}
.text-green {
    color: @color-fg-green;
}
.text-yellow
{
    //color: #f6a124;
    color: @color-fg-yellow;
}
.text-teal
{
    color: @color-fg-teal;
}
.text-purple {
    color: @color-fg-purple;
}
.txt-white 
{
    color: #ffffff;
}

.width-20 { width: 20px; }
.width-50 { width: 50px; }
.width-100 { width: 100px; }
.width-125 { width: 125px; }
.width-150 { width: 150px; }
.width-200 { width: 200px; }
.width-225 { width: 200px; }
.width-250 { width: 250px; }
.width-275 { width: 275px; }
.width-300 { width: 300px; }
.width-350 { width: 350px; }
.width-400 { width: 400px; }
.width-450 { width: 450px; }
.width-500 { width: 500px; }
.width-550 { width: 550px; }
.width-600 { width: 600px; }

.height-10 { height: 10px; }
.height-15 { height: 15px; }
.height-20 { height: 20px; }
.height-25 { height: 25px; }
.height-30 { height: 30px; }
.height-40 { height: 40px; }
.height-50 { height: 50px; }
.height-60 { height: 60px; }

// For Debugging purposes
.debug-red {
    background-color: red;
}
.debug-green {
    background-color: green;
}
.debug-blue {
    background-color: blue;
}