﻿* {
  font: bold 10pt Helvetica, Arial, sans-serif;
}
.font-red {
  color: #ee473e;
}
.font-yellow {
  color: #f6a124;
}
.font-green {
  color: #22a754;
}
.font-blue {
  color: #1f82c3;
}
.font-violet {
  color: #6f4a76;
}
.header-1 {
  font-size: 15pt;
}
.header-2 {
  font-size: 12pt;
}
.header-3 {
  font-size: 11pt;
  font-weight: bold;
}
a:link,
a:visited {
  color: #1f82c3;
}
a:hover {
  color: #22a754;
  text-decoration: none;
}
a:active {
  color: #f6a124;
  text-decoration: none;
}
.btn-action {
  height: 22px;
  width: 70px;
  background-color: white;
  border: 1px solid #808183;
}
.btn-action-big {
  height: 22px;
  width: 70px;
  background-color: white;
  border: 1px solid #808183;
  height: 35px;
  width: 150px;
}
.btn-blue {
  background: url(../images/button_mark_blue.png) no-repeat scroll right center;
  background-color: white;
  border: 2px solid #7fb9e1;
  color: #1f82c3;
  padding: 0px 16px;
}
.btn-red {
  background: url(../images/button_mark_red.png) no-repeat scroll right center;
  background-color: white ;
  border: 2px solid #ed6d50;
  color: #ed6d50;
  padding: 0px 16px;
}
.btn-green {
  background: url(../images/button_mark_green.png) no-repeat scroll right center;
  background-color: white;
  border: 2px solid #79a438;
  color: #79a438;
  padding: 0px 16px;
}
.btn-purple {
  background: url(../images/button_mark_purple.png) no-repeat scroll right center;
  background-color: white;
  border: 2px solid #6f4a76;
  color: #6d4c77;
  padding: 0px 16px;
}
.btn-pink {
  /*background: url(../images/button_mark_pink.png) no-repeat scroll right center;*/
  background: url(../images/button_mark_red.png) no-repeat scroll right center;
  background-color: white;
  border: 2px solid #eeb2ba;
  color: #e75a73;
  padding: 0px 16px;
}
.footer-action {
  height: 35px;
  line-height: 35px;
  width: 110px;
  font-weight: bold;
  font-size: 12pt;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  display: inline-block;
  cursor: pointer;
}
.btn-nav {
  background: url(../images/button_mark_brown.png) no-repeat scroll right center;
  height: 35px;
  line-height: 35px;
  width: 110px;
  font-weight: bold;
  font-size: 12pt;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  width: 60px;
  border: 2px solid #c8af9b;
  color: #804819;
}
.btn-save {
  background: url(../images/button_mark_green.png) no-repeat scroll right center;
  height: 35px;
  line-height: 35px;
  width: 110px;
  font-weight: bold;
  font-size: 12pt;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #98d5b3;
  color: #22a754;
}
.btn-void {
  background: url(../images/button_mark_red.png) no-repeat scroll right center;
  height: 35px;
  line-height: 35px;
  width: 110px;
  font-weight: bold;
  font-size: 12pt;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #f1a494;
  color: #ee473e;
}
.btn-clear {
  background: url(../images/button_mark_blue.png) no-repeat scroll right center;
  height: 35px;
  line-height: 35px;
  width: 110px;
  font-weight: bold;
  font-size: 12pt;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #7fb9e1;
  color: #1f82c3;
}
.btn-print {
  background: url(../images/button_mark_yellow.png) no-repeat scroll right center;
  height: 35px;
  line-height: 35px;
  width: 110px;
  font-weight: bold;
  font-size: 12pt;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #fbc77b;
  color: #f6a124;
}
.btn-cancel {
  background: url(../images/button_mark_purple.png) no-repeat scroll right center;
  height: 35px;
  line-height: 35px;
  width: 110px;
  font-weight: bold;
  font-size: 12pt;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #a593ad;
  color: #6f4a76;
}
.btn-action:hover {
  border-width: 2px;
}
.btn-action-big:hover,
.btn-nav:hover,
.btn-save:hover,
.btn-void:hover,
.btn-print:hover,
.btn-cancel:hover,
.btn-clear:hover {
  /*
    border: 1px solid green;
    color: green;
    text-decoration: underline;
        */
  border-width: 3px;
}
.control-panel {
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
  padding: 5px;
  background-color: white;
}
.txt-search-main {
  border: 1px solid #44938e !important;
  height: 20px !important;
  width: 335px;
  margin: 0px !important;
}
.btn-search-main {
  border: 1px solid #44938e;
  background-color: #44938e;
  color: #FFFFFF;
  width: 100px;
  height: 20px;
  margin-left: 0px;
}
.search-option {
  padding: 2px 10px;
  cursor: pointer;
}
.search-option span {
  padding-left: 5px;
  padding-right: 5px;
  color: red;
}
.search-option.active,
.search-option:hover {
  background-color: lightgreen;
}
.div-menuitem {
  text-align: left;
  vertical-align: middle;
  padding: 5px 0px;
  color: gray;
}
.div-menuitem > img:first-child {
  margin-right: 5px;
}
.div-menuitem-active {
  color: black;
}
input[type=button][disabled] {
  color: #c0c0c0;
  border: 1px solid #f0f0f0;
}
select[disabled] {
  background-color: #f0f0f0;
}
input[type=text],
input[type=password],
textarea,
select {
  border: 1px solid #808183;
  height: 22px;
}
input[type=text],
input[type=password],
textarea {
  padding-left: 5px;
}
textarea {
  resize: none;
}
input[type=text].search {
  background: url(../images/magnifying_glass.png) no-repeat scroll right center;
  background-color: white;
  padding-right: 20px;
}
.form input[type=text].readonly,
.form textarea.readonly {
  /*background-color: white;*/
  background-color: #f0f0f0;
}
.cell {
  vertical-align: middle;
  padding-top: 5px;
}
td.cell-header {
  vertical-align: middle;
  padding-top: 5px;
  font-size: 11pt;
  font-weight: bold;
  padding: 5px 0px 5px 5px;
  background-color: white;
}
td.cell-name {
  vertical-align: middle;
  padding-top: 5px;
}
td.cell-name.left {
  padding-left: 5px;
  text-align: left;
}
td.cell-name.right {
  padding-right: 5px;
  text-align: right;
}
td.cell-name.center {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
td.cell-control {
  vertical-align: middle;
  padding-top: 5px;
}
td.cell-control.left {
  text-align: left;
  padding-left: 5px;
}
td.cell-control.right {
  text-align: right;
  padding-right: 5px;
}
td.cell-control.center {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
table.data {
  width: 100%;
  border: 1px solid darkgray;
  background-color: white;
}
table.data > tbody > tr > th {
  color: white;
  text-align: center;
  background-color: #44938e;
}
table.data > tbody > tr > td {
  color: white;
  text-align: center;
}
table.form.blue .cell-header,
table.form.blue .cell-name {
  color: #0575bd;
}
table.form.red .cell-header,
table.form.red .cell-name {
  color: #ed6d50;
}
table.form.yellow .cell-header,
table.form.yellow .cell-name {
  color: #c38e00;
}
table.form.green .cell-header,
table.form.green .cell-name {
  color: #79a438;
}
table.form.purple .cell-header,
table.form.purple .cell-name {
  color: #6d4c77;
}
.form.doublecolumn td:not(.cell-header) {
  vertical-align: top;
  padding-top: 5px;
  padding-left: 5px;
  text-align: left;
}
.form.doublecolumn tr > td:first-child:not(.cell-header) {
  width: 150px;
}
.form.doublecolumn tr > td:first-child + td {
  width: 230px;
  padding-left: 5px;
}
.form.doublecolumn tr > td:first-child + td input[type=text]:not(.custom),
.form.doublecolumn tr > td:first-child + td select:not(.custom),
.form.doublecolumn tr > td:first-child + td textarea:not(.custom) {
  width: 95%;
}
.form.doublecolumn tr > td:first-child + td + td {
  width: 150px;
}
.form.doublecolumn tr > td:first-child + td + td + td {
  width: 230px;
  padding-left: 5px;
}
.form.doublecolumn tr > td:first-child + td + td + td input[type=text]:not(.custom),
.form.doublecolumn tr > td:first-child + td + td + td select:not(.custom),
.form.doublecolumn tr > td:first-child + td + td + td textarea:not(.custom) {
  width: 95%;
}
.form.doublecolumn.red tr > td:first-child {
  color: #ed6d50;
}
.form.doublecolumn.red tr > td:first-child + td + td {
  color: #ed6d50;
}
.form.doublecolumn.green tr > td:first-child {
  color: #79a438;
}
.form.doublecolumn.green tr > td:first-child + td + td {
  color: #79a438;
}
.form.doublecolumn.blue tr > td:first-child {
  color: #0575bd;
}
.form.doublecolumn.blue tr > td:first-child + td + td {
  color: #0575bd;
}
.form.doublecolumn.yellow tr > td:first-child {
  color: #c38e00;
}
.form.doublecolumn.yellow tr > td:first-child + td + td {
  color: #c38e00;
}
.form.doublecolumn.purple tr > td:first-child {
  color: #6d4c77;
}
.form.doublecolumn.purple tr > td:first-child + td + td {
  color: #6d4c77;
}
select {
  height: 22px;
}
div.body {
  max-width: 1000px;
  min-width: 1000px;
  margin: 5px auto auto auto;
}
div.section {
  padding-bottom: 10px;
}
div.section.header {
  padding-top: 5px;
}
div.section-last {
  padding-bottom: 0px;
}
div.line {
  height: 2px;
  border: 1px solid #808183;
}
div.float-left {
  float: left;
}
div.float-right {
  float: right;
}
div.clear-both {
  clear: both;
}
div.float-fill {
  overflow: hidden;
}
.images-holder {
  height: 150px;
  width: 150px;
  background-color: white;
  border: 1px solid #808183;
}
.invalid {
  background-color: Yellow;
  border: 1px solid Red;
}
div.tooltip-invalid {
  display: block;
  position: absolute;
  border: 1px solid black;
  background-color: Yellow;
  padding: 5px 5px 5px 5px;
  width: 250px;
  margin: 10px 0px 0px 20px;
  z-index: 2147483647;
  /* Maximum z-index value for IE. Ensure the tooltip is always on top of everything. */
}
div.tooltip-invalid .tooltip-invalid-header {
  font-weight: bold;
}
.text-center {
  text-align: center;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
.dynamic-tooltip {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 200px;
  display: block;
  font-size: 12px;
  line-height: 16px;
  background: #fefdcd;
  padding: 2px 2px;
  border: 1px solid #c0c0c0;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}
.theme-red {
  padding: 5px 5px 5px 25px;
}
.theme-red .nav-tabs {
  margin-bottom: 0;
  border-bottom: 1px solid #808183;
}
.theme-red .nav-tabs > li {
  width: 170px;
  text-align: center;
}
.theme-red .nav-tabs > li > a {
  font-size: 12pt;
  font-weight: normal;
  border-radius: 0;
  padding: 5px 5px;
  margin-right: 5px;
}
.theme-red .nav-tabs.first-row {
  border-bottom: none;
}
.theme-red .nav-tabs.first-row + .nav-tabs {
  padding-top: 5px;
}
.theme-red .nav-tabs > li.active > a,
.theme-red .nav-tabs > li.active > a:hover,
.theme-red .nav-tabs > li.active > a:focus {
  background-color: #fff9f9;
  color: #ed6d50;
  border: 1px solid #808183;
  border-bottom-color: transparent;
}
.theme-red .tab-content {
  background-color: #fff9f9;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  padding: 10px 20px 10px 20px;
}
.theme-red .caption {
  font-size: 11pt;
  font-weight: bold;
  color: #ed6d50;
}
.theme-red .caption-normal {
  color: #ed6d50;
}
.theme-red .btn-action {
  color: #ed6d50;
}
.theme-red td.left {
  text-align: left;
}
.theme-red td.right {
  text-align: right;
}
.theme-red td.center {
  text-align: center;
}
.theme-red td.top {
  vertical-align: top;
}
.theme-red td.middle {
  vertical-align: middle;
}
.theme-red td.bottom {
  vertical-align: bottom;
}
.theme-red .form.double .cell {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
}
.theme-red .form.double .cell-name {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #ed6d50;
  width: 150px;
  padding-top: 8px;
}
.theme-red .form.double .cell-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-red .form.double .cell-control input[type=text],
.theme-red .form.double .cell-control select,
.theme-red .form.double .cell-control textarea {
  width: 100%;
}
.theme-red .form.double tr > td:first-child {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #ed6d50;
  width: 150px;
  padding-top: 8px;
}
.theme-red .form.double tr > td:first-child + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-red .form.double tr > td:first-child + td input[type=text],
.theme-red .form.double tr > td:first-child + td select,
.theme-red .form.double tr > td:first-child + td textarea {
  width: 100%;
}
.theme-red .form.double tr > td:first-child + td + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #ed6d50;
  width: 150px;
  padding-top: 8px;
}
.theme-red .form.double tr > td:first-child + td + td + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-red .form.double tr > td:first-child + td + td + td input[type=text],
.theme-red .form.double tr > td:first-child + td + td + td select,
.theme-red .form.double tr > td:first-child + td + td + td textarea {
  width: 100%;
}
.theme-red .form.summary {
  width: 100%;
}
.theme-red .form.summary .caption {
  padding: 8px 0px 0px 10px;
  width: 60px;
}
.theme-red .form.summary .control {
  padding: 8px 0px 0px 10px;
  width: 305px;
}
.theme-red .form.summary .control-amount {
  padding: 8px 0px 0px 10px;
  width: 305px;
}
.theme-red .form.summary .control-amount input[type=text] {
  text-align: right;
  padding-right: 10px;
}
.theme-red .form.summary .caption-amount {
  color: #ed6d50;
  font-size: 12pt;
  padding: 8px 0px 0px 10px;
  width: 90px;
}
.theme-red .form.summary input[type=text] {
  width: 100%;
}
.theme-red .form.summary .cell {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
}
.theme-red .form.summary .cell-name {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #ed6d50;
  width: 90px;
  padding-top: 8px;
}
.theme-red .form.summary .cell-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 240px;
  padding-top: 5px;
  padding-left: 5px;
}
.theme-red .form.summary .cell-control input[type=text],
.theme-red .form.summary .cell-control select,
.theme-red .form.summary .cell-control textarea {
  width: 100%;
}
.theme-red .form.summary .summary-caption {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #ed6d50;
  width: 90px;
  padding-top: 8px;
}
.theme-red .form.summary .summary-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 240px;
  padding-top: 5px;
  padding-left: 5px;
}
.theme-red .form.summary .summary-control input[type=text],
.theme-red .form.summary .summary-control select,
.theme-red .form.summary .summary-control textarea {
  width: 100%;
}
.theme-red .form.summary .summary-caption-big {
  font-size: 12pt;
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #ed6d50;
  width: 90px;
  padding-top: 8px;
}
.theme-red .form.summary .pane-void {
  text-align: center;
  vertical-align: middle;
}
.theme-red .form.single td {
  vertical-align: top;
  padding-top: 5px;
  text-align: left;
}
.theme-red .form.single tr > td:first-child:not(.custom) {
  color: #ed6d50;
  width: 175px;
  padding-left: 10px;
}
.theme-red .form.single tr > td:first-child + td:not(.custom) {
  width: 255px;
}
.theme-red .form.single tr > td:first-child + td:not(.custom) input[type=text],
.theme-red .form.single tr > td:first-child + td:not(.custom) select,
.theme-red .form.single tr > td:first-child + td:not(.custom) textarea {
  width: 100%;
}
.theme-red .cell-header {
  color: #ed6d50;
  vertical-align: middle;
  font-size: 11pt;
  font-weight: bold;
  padding: 5px 0px 5px 10px;
  background-color: white;
}
.theme-red .grid-command {
  background-color: white;
  padding: 10px;
  overflow: hidden;
}
.theme-red .grid-command > div {
  float: left;
}
.theme-red .grid-command > div + div {
  float: right;
}
.theme-red .grid-command:not(.no-border) {
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
}
.theme-red .grid-command:not(.search) span {
  font-weight: bold;
  color: #ed6d50;
  padding-right: 20px;
}
.theme-red .grid-command.search .btn-action {
  color: #44938e;
}
.theme-red .grid-command.search span {
  font-weight: bold;
  color: #44938e;
  padding-right: 20px;
}
.theme-red .header-search {
  font-size: 11pt;
  background-color: #44938e;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: white;
  font-weight: normal;
}
.theme-red .grid {
  width: 100%;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  background-color: white;
}
.theme-red .grid th {
  color: white;
  text-align: center;
  background-color: #ed6d50;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  height: 25px;
}
.theme-red .grid td {
  text-align: center;
  background-color: white;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  height: 25px;
  padding: 0px;
}
.theme-red .grid td input[type=text] {
  border: none;
  width: 100%;
  padding-left: 5px;
}
.theme-red .grid td input[type=text].state-edit {
  background-color: yellow;
}
.theme-red .grid.search th {
  background-color: #44938e;
}
.theme-red .kgrid-div-page {
  margin-top: -1px;
  background-color: white;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
}
.theme-red .kgrid-row-selected > td:first-child {
  background-color: #eeeeee;
}
.theme-red .kgrid-row-selected input[type=text] {
  height: 25px;
}
.theme-red .pane-void div {
  height: 40px;
  border: 2px solid red;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 15pt;
  text-align: center;
  line-height: 40px;
}
.theme-red .k-grid {
  border: 1px solid #808183;
}
.theme-red .k-grid th {
  text-align: center;
  background-color: #ed6d50;
  color: white;
}
.theme-red .search .k-grid th {
  background-color: #44938e;
}
.theme-green {
  padding: 5px 5px 5px 25px;
}
.theme-green .nav-tabs {
  margin-bottom: 0;
  border-bottom: 1px solid #808183;
}
.theme-green .nav-tabs > li {
  width: 170px;
  text-align: center;
}
.theme-green .nav-tabs > li > a {
  font-size: 12pt;
  font-weight: normal;
  border-radius: 0;
  padding: 5px 5px;
  margin-right: 5px;
}
.theme-green .nav-tabs.first-row {
  border-bottom: none;
}
.theme-green .nav-tabs.first-row + .nav-tabs {
  padding-top: 5px;
}
.theme-green .nav-tabs > li.active > a,
.theme-green .nav-tabs > li.active > a:hover,
.theme-green .nav-tabs > li.active > a:focus {
  background-color: #fbfcf4;
  color: #79a438;
  border: 1px solid #808183;
  border-bottom-color: transparent;
}
.theme-green .tab-content {
  background-color: #fbfcf4;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  padding: 10px 20px 10px 20px;
}
.theme-green .caption {
  font-size: 11pt;
  font-weight: bold;
  color: #79a438;
}
.theme-green .caption-normal {
  color: #79a438;
}
.theme-green .btn-action {
  color: #79a438;
}
.theme-green td.left {
  text-align: left;
}
.theme-green td.right {
  text-align: right;
}
.theme-green td.center {
  text-align: center;
}
.theme-green td.top {
  vertical-align: top;
}
.theme-green td.middle {
  vertical-align: middle;
}
.theme-green td.bottom {
  vertical-align: bottom;
}
.theme-green .form.double .cell {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
}
.theme-green .form.double .cell-name {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #79a438;
  width: 150px;
  padding-top: 8px;
}
.theme-green .form.double .cell-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-green .form.double .cell-control input[type=text],
.theme-green .form.double .cell-control select,
.theme-green .form.double .cell-control textarea {
  width: 100%;
}
.theme-green .form.double tr > td:first-child {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #79a438;
  width: 150px;
  padding-top: 8px;
}
.theme-green .form.double tr > td:first-child + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-green .form.double tr > td:first-child + td input[type=text],
.theme-green .form.double tr > td:first-child + td select,
.theme-green .form.double tr > td:first-child + td textarea {
  width: 100%;
}
.theme-green .form.double tr > td:first-child + td + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #79a438;
  width: 150px;
  padding-top: 8px;
}
.theme-green .form.double tr > td:first-child + td + td + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-green .form.double tr > td:first-child + td + td + td input[type=text],
.theme-green .form.double tr > td:first-child + td + td + td select,
.theme-green .form.double tr > td:first-child + td + td + td textarea {
  width: 100%;
}
.theme-green .form.summary {
  width: 100%;
}
.theme-green .form.summary .caption {
  padding: 8px 0px 0px 10px;
  width: 60px;
}
.theme-green .form.summary .control {
  padding: 8px 0px 0px 10px;
  width: 305px;
}
.theme-green .form.summary .control-amount {
  padding: 8px 0px 0px 10px;
  width: 305px;
}
.theme-green .form.summary .control-amount input[type=text] {
  text-align: right;
  padding-right: 10px;
}
.theme-green .form.summary .caption-amount {
  color: #79a438;
  font-size: 12pt;
  padding: 8px 0px 0px 10px;
  width: 90px;
}
.theme-green .form.summary input[type=text] {
  width: 100%;
}
.theme-green .form.summary .cell {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
}
.theme-green .form.summary .cell-name {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #79a438;
  width: 90px;
  padding-top: 8px;
}
.theme-green .form.summary .cell-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 240px;
  padding-top: 5px;
  padding-left: 5px;
}
.theme-green .form.summary .cell-control input[type=text],
.theme-green .form.summary .cell-control select,
.theme-green .form.summary .cell-control textarea {
  width: 100%;
}
.theme-green .form.summary .summary-caption {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #79a438;
  width: 90px;
  padding-top: 8px;
}
.theme-green .form.summary .summary-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 240px;
  padding-top: 5px;
  padding-left: 5px;
}
.theme-green .form.summary .summary-control input[type=text],
.theme-green .form.summary .summary-control select,
.theme-green .form.summary .summary-control textarea {
  width: 100%;
}
.theme-green .form.summary .summary-caption-big {
  font-size: 12pt;
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #79a438;
  width: 90px;
  padding-top: 8px;
}
.theme-green .form.summary .pane-void {
  text-align: center;
  vertical-align: middle;
}
.theme-green .form.single td {
  vertical-align: top;
  padding-top: 5px;
  text-align: left;
}
.theme-green .form.single tr > td:first-child:not(.custom) {
  color: #79a438;
  width: 175px;
  padding-left: 10px;
}
.theme-green .form.single tr > td:first-child + td:not(.custom) {
  width: 255px;
}
.theme-green .form.single tr > td:first-child + td:not(.custom) input[type=text],
.theme-green .form.single tr > td:first-child + td:not(.custom) select,
.theme-green .form.single tr > td:first-child + td:not(.custom) textarea {
  width: 100%;
}
.theme-green .cell-header {
  color: #79a438;
  vertical-align: middle;
  font-size: 11pt;
  font-weight: bold;
  padding: 5px 0px 5px 10px;
  background-color: white;
}
.theme-green .grid-command {
  background-color: white;
  padding: 10px;
  overflow: hidden;
}
.theme-green .grid-command > div {
  float: left;
}
.theme-green .grid-command > div + div {
  float: right;
}
.theme-green .grid-command:not(.no-border) {
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
}
.theme-green .grid-command:not(.search) span {
  font-weight: bold;
  color: #79a438;
  padding-right: 20px;
}
.theme-green .grid-command.search .btn-action {
  color: #44938e;
}
.theme-green .grid-command.search span {
  font-weight: bold;
  color: #44938e;
  padding-right: 20px;
}
.theme-green .header-search {
  font-size: 11pt;
  background-color: #44938e;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: white;
  font-weight: normal;
}
.theme-green .grid {
  width: 100%;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  background-color: white;
}
.theme-green .grid th {
  color: white;
  text-align: center;
  background-color: #79a438;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  height: 25px;
}
.theme-green .grid td {
  text-align: center;
  background-color: white;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  height: 25px;
  padding: 0px;
}
.theme-green .grid td input[type=text] {
  border: none;
  width: 100%;
  padding-left: 5px;
}
.theme-green .grid td input[type=text].state-edit {
  background-color: yellow;
}
.theme-green .grid.search th {
  background-color: #44938e;
}
.theme-green .kgrid-div-page {
  margin-top: -1px;
  background-color: white;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
}
.theme-green .kgrid-row-selected > td:first-child {
  background-color: #eeeeee;
}
.theme-green .kgrid-row-selected input[type=text] {
  height: 25px;
}
.theme-green .pane-void div {
  height: 40px;
  border: 2px solid red;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 15pt;
  text-align: center;
  line-height: 40px;
}
.theme-green .k-grid {
  border: 1px solid #808183;
}
.theme-green .k-grid th {
  text-align: center;
  background-color: #79a438;
  color: white;
}
.theme-green .search .k-grid th {
  background-color: #44938e;
}
.theme-blue {
  padding: 5px 5px 5px 25px;
}
.theme-blue .nav-tabs {
  margin-bottom: 0;
  border-bottom: 1px solid #808183;
}
.theme-blue .nav-tabs > li {
  width: 170px;
  text-align: center;
}
.theme-blue .nav-tabs > li > a {
  font-size: 12pt;
  font-weight: normal;
  border-radius: 0;
  padding: 5px 5px;
  margin-right: 5px;
}
.theme-blue .nav-tabs.first-row {
  border-bottom: none;
}
.theme-blue .nav-tabs.first-row + .nav-tabs {
  padding-top: 5px;
}
.theme-blue .nav-tabs > li.active > a,
.theme-blue .nav-tabs > li.active > a:hover,
.theme-blue .nav-tabs > li.active > a:focus {
  background-color: #f5fafe;
  color: #0575bd;
  border: 1px solid #808183;
  border-bottom-color: transparent;
}
.theme-blue .tab-content {
  background-color: #f5fafe;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  padding: 10px 20px 10px 20px;
}
.theme-blue .caption {
  font-size: 11pt;
  font-weight: bold;
  color: #0575bd;
}
.theme-blue .caption-normal {
  color: #0575bd;
}
.theme-blue .btn-action {
  color: #0575bd;
}
.theme-blue td.left {
  text-align: left;
}
.theme-blue td.right {
  text-align: right;
}
.theme-blue td.center {
  text-align: center;
}
.theme-blue td.top {
  vertical-align: top;
}
.theme-blue td.middle {
  vertical-align: middle;
}
.theme-blue td.bottom {
  vertical-align: bottom;
}
.theme-blue .form.double .cell {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
}
.theme-blue .form.double .cell-name {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #0575bd;
  width: 150px;
  padding-top: 8px;
}
.theme-blue .form.double .cell-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-blue .form.double .cell-control input[type=text],
.theme-blue .form.double .cell-control select,
.theme-blue .form.double .cell-control textarea {
  width: 100%;
}
.theme-blue .form.double tr > td:first-child {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #0575bd;
  width: 150px;
  padding-top: 8px;
}
.theme-blue .form.double tr > td:first-child + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-blue .form.double tr > td:first-child + td input[type=text],
.theme-blue .form.double tr > td:first-child + td select,
.theme-blue .form.double tr > td:first-child + td textarea {
  width: 100%;
}
.theme-blue .form.double tr > td:first-child + td + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #0575bd;
  width: 150px;
  padding-top: 8px;
}
.theme-blue .form.double tr > td:first-child + td + td + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-blue .form.double tr > td:first-child + td + td + td input[type=text],
.theme-blue .form.double tr > td:first-child + td + td + td select,
.theme-blue .form.double tr > td:first-child + td + td + td textarea {
  width: 100%;
}
.theme-blue .form.summary {
  width: 100%;
}
.theme-blue .form.summary .caption {
  padding: 8px 0px 0px 10px;
  width: 60px;
}
.theme-blue .form.summary .control {
  padding: 8px 0px 0px 10px;
  width: 305px;
}
.theme-blue .form.summary .control-amount {
  padding: 8px 0px 0px 10px;
  width: 305px;
}
.theme-blue .form.summary .control-amount input[type=text] {
  text-align: right;
  padding-right: 10px;
}
.theme-blue .form.summary .caption-amount {
  color: #0575bd;
  font-size: 12pt;
  padding: 8px 0px 0px 10px;
  width: 90px;
}
.theme-blue .form.summary input[type=text] {
  width: 100%;
}
.theme-blue .form.summary .cell {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
}
.theme-blue .form.summary .cell-name {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #0575bd;
  width: 90px;
  padding-top: 8px;
}
.theme-blue .form.summary .cell-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 240px;
  padding-top: 5px;
  padding-left: 5px;
}
.theme-blue .form.summary .cell-control input[type=text],
.theme-blue .form.summary .cell-control select,
.theme-blue .form.summary .cell-control textarea {
  width: 100%;
}
.theme-blue .form.summary .summary-caption {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #0575bd;
  width: 90px;
  padding-top: 8px;
}
.theme-blue .form.summary .summary-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 240px;
  padding-top: 5px;
  padding-left: 5px;
}
.theme-blue .form.summary .summary-control input[type=text],
.theme-blue .form.summary .summary-control select,
.theme-blue .form.summary .summary-control textarea {
  width: 100%;
}
.theme-blue .form.summary .summary-caption-big {
  font-size: 12pt;
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #0575bd;
  width: 90px;
  padding-top: 8px;
}
.theme-blue .form.summary .pane-void {
  text-align: center;
  vertical-align: middle;
}
.theme-blue .form.single td {
  vertical-align: top;
  padding-top: 5px;
  text-align: left;
}
.theme-blue .form.single tr > td:first-child:not(.custom) {
  color: #0575bd;
  width: 175px;
  padding-left: 10px;
}
.theme-blue .form.single tr > td:first-child + td:not(.custom) {
  width: 255px;
}
.theme-blue .form.single tr > td:first-child + td:not(.custom) input[type=text],
.theme-blue .form.single tr > td:first-child + td:not(.custom) select,
.theme-blue .form.single tr > td:first-child + td:not(.custom) textarea {
  width: 100%;
}
.theme-blue .cell-header {
  color: #0575bd;
  vertical-align: middle;
  font-size: 11pt;
  font-weight: bold;
  padding: 5px 0px 5px 10px;
  background-color: white;
}
.theme-blue .grid-command {
  background-color: white;
  padding: 10px;
  overflow: hidden;
}
.theme-blue .grid-command > div {
  float: left;
}
.theme-blue .grid-command > div + div {
  float: right;
}
.theme-blue .grid-command:not(.no-border) {
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
}
.theme-blue .grid-command:not(.search) span {
  font-weight: bold;
  color: #0575bd;
  padding-right: 20px;
}
.theme-blue .grid-command.search .btn-action {
  color: #44938e;
}
.theme-blue .grid-command.search span {
  font-weight: bold;
  color: #44938e;
  padding-right: 20px;
}
.theme-blue .header-search {
  font-size: 11pt;
  background-color: #44938e;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: white;
  font-weight: normal;
}
.theme-blue .grid {
  width: 100%;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  background-color: white;
}
.theme-blue .grid th {
  color: white;
  text-align: center;
  background-color: #7fb9d1;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  height: 25px;
}
.theme-blue .grid td {
  text-align: center;
  background-color: white;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  height: 25px;
  padding: 0px;
}
.theme-blue .grid td input[type=text] {
  border: none;
  width: 100%;
  padding-left: 5px;
}
.theme-blue .grid td input[type=text].state-edit {
  background-color: yellow;
}
.theme-blue .grid.search th {
  background-color: #44938e;
}
.theme-blue .kgrid-div-page {
  margin-top: -1px;
  background-color: white;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
}
.theme-blue .kgrid-row-selected > td:first-child {
  background-color: #eeeeee;
}
.theme-blue .kgrid-row-selected input[type=text] {
  height: 25px;
}
.theme-blue .pane-void div {
  height: 40px;
  border: 2px solid red;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 15pt;
  text-align: center;
  line-height: 40px;
}
.theme-blue .k-grid {
  border: 1px solid #808183;
}
.theme-blue .k-grid th {
  text-align: center;
  background-color: #7fb9d1;
  color: white;
}
.theme-blue .search .k-grid th {
  background-color: #44938e;
}
.theme-yellow {
  padding: 5px 5px 5px 25px;
}
.theme-yellow .nav-tabs {
  margin-bottom: 0;
  border-bottom: 1px solid #808183;
}
.theme-yellow .nav-tabs > li {
  width: 170px;
  text-align: center;
}
.theme-yellow .nav-tabs > li > a {
  font-size: 12pt;
  font-weight: normal;
  border-radius: 0;
  padding: 5px 5px;
  margin-right: 5px;
}
.theme-yellow .nav-tabs.first-row {
  border-bottom: none;
}
.theme-yellow .nav-tabs.first-row + .nav-tabs {
  padding-top: 5px;
}
.theme-yellow .nav-tabs > li.active > a,
.theme-yellow .nav-tabs > li.active > a:hover,
.theme-yellow .nav-tabs > li.active > a:focus {
  background-color: #fdfaf5;
  color: #c38e00;
  border: 1px solid #808183;
  border-bottom-color: transparent;
}
.theme-yellow .tab-content {
  background-color: #fdfaf5;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  padding: 10px 20px 10px 20px;
}
.theme-yellow .caption {
  font-size: 11pt;
  font-weight: bold;
  color: #c38e00;
}
.theme-yellow .caption-normal {
  color: #c38e00;
}
.theme-yellow .btn-action {
  color: #c38e00;
}
.theme-yellow td.left {
  text-align: left;
}
.theme-yellow td.right {
  text-align: right;
}
.theme-yellow td.center {
  text-align: center;
}
.theme-yellow td.top {
  vertical-align: top;
}
.theme-yellow td.middle {
  vertical-align: middle;
}
.theme-yellow td.bottom {
  vertical-align: bottom;
}
.theme-yellow .form.double .cell {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
}
.theme-yellow .form.double .cell-name {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #c38e00;
  width: 150px;
  padding-top: 8px;
}
.theme-yellow .form.double .cell-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-yellow .form.double .cell-control input[type=text],
.theme-yellow .form.double .cell-control select,
.theme-yellow .form.double .cell-control textarea {
  width: 100%;
}
.theme-yellow .form.double tr > td:first-child {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #c38e00;
  width: 150px;
  padding-top: 8px;
}
.theme-yellow .form.double tr > td:first-child + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-yellow .form.double tr > td:first-child + td input[type=text],
.theme-yellow .form.double tr > td:first-child + td select,
.theme-yellow .form.double tr > td:first-child + td textarea {
  width: 100%;
}
.theme-yellow .form.double tr > td:first-child + td + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #c38e00;
  width: 150px;
  padding-top: 8px;
}
.theme-yellow .form.double tr > td:first-child + td + td + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-yellow .form.double tr > td:first-child + td + td + td input[type=text],
.theme-yellow .form.double tr > td:first-child + td + td + td select,
.theme-yellow .form.double tr > td:first-child + td + td + td textarea {
  width: 100%;
}
.theme-yellow .form.summary {
  width: 100%;
}
.theme-yellow .form.summary .caption {
  padding: 8px 0px 0px 10px;
  width: 60px;
}
.theme-yellow .form.summary .control {
  padding: 8px 0px 0px 10px;
  width: 305px;
}
.theme-yellow .form.summary .control-amount {
  padding: 8px 0px 0px 10px;
  width: 305px;
}
.theme-yellow .form.summary .control-amount input[type=text] {
  text-align: right;
  padding-right: 10px;
}
.theme-yellow .form.summary .caption-amount {
  color: #c38e00;
  font-size: 12pt;
  padding: 8px 0px 0px 10px;
  width: 90px;
}
.theme-yellow .form.summary input[type=text] {
  width: 100%;
}
.theme-yellow .form.summary .cell {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
}
.theme-yellow .form.summary .cell-name {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #c38e00;
  width: 90px;
  padding-top: 8px;
}
.theme-yellow .form.summary .cell-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 240px;
  padding-top: 5px;
  padding-left: 5px;
}
.theme-yellow .form.summary .cell-control input[type=text],
.theme-yellow .form.summary .cell-control select,
.theme-yellow .form.summary .cell-control textarea {
  width: 100%;
}
.theme-yellow .form.summary .summary-caption {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #c38e00;
  width: 90px;
  padding-top: 8px;
}
.theme-yellow .form.summary .summary-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 240px;
  padding-top: 5px;
  padding-left: 5px;
}
.theme-yellow .form.summary .summary-control input[type=text],
.theme-yellow .form.summary .summary-control select,
.theme-yellow .form.summary .summary-control textarea {
  width: 100%;
}
.theme-yellow .form.summary .summary-caption-big {
  font-size: 12pt;
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #c38e00;
  width: 90px;
  padding-top: 8px;
}
.theme-yellow .form.summary .pane-void {
  text-align: center;
  vertical-align: middle;
}
.theme-yellow .form.single td {
  vertical-align: top;
  padding-top: 5px;
  text-align: left;
}
.theme-yellow .form.single tr > td:first-child:not(.custom) {
  color: #c38e00;
  width: 175px;
  padding-left: 10px;
}
.theme-yellow .form.single tr > td:first-child + td:not(.custom) {
  width: 255px;
}
.theme-yellow .form.single tr > td:first-child + td:not(.custom) input[type=text],
.theme-yellow .form.single tr > td:first-child + td:not(.custom) select,
.theme-yellow .form.single tr > td:first-child + td:not(.custom) textarea {
  width: 100%;
}
.theme-yellow .cell-header {
  color: #c38e00;
  vertical-align: middle;
  font-size: 11pt;
  font-weight: bold;
  padding: 5px 0px 5px 10px;
  background-color: white;
}
.theme-yellow .grid-command {
  background-color: white;
  padding: 10px;
  overflow: hidden;
}
.theme-yellow .grid-command > div {
  float: left;
}
.theme-yellow .grid-command > div + div {
  float: right;
}
.theme-yellow .grid-command:not(.no-border) {
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
}
.theme-yellow .grid-command:not(.search) span {
  font-weight: bold;
  color: #c38e00;
  padding-right: 20px;
}
.theme-yellow .grid-command.search .btn-action {
  color: #44938e;
}
.theme-yellow .grid-command.search span {
  font-weight: bold;
  color: #44938e;
  padding-right: 20px;
}
.theme-yellow .header-search {
  font-size: 11pt;
  background-color: #44938e;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: white;
  font-weight: normal;
}
.theme-yellow .grid {
  width: 100%;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  background-color: white;
}
.theme-yellow .grid th {
  color: white;
  text-align: center;
  background-color: #c38e00;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  height: 25px;
}
.theme-yellow .grid td {
  text-align: center;
  background-color: white;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  height: 25px;
  padding: 0px;
}
.theme-yellow .grid td input[type=text] {
  border: none;
  width: 100%;
  padding-left: 5px;
}
.theme-yellow .grid td input[type=text].state-edit {
  background-color: yellow;
}
.theme-yellow .grid.search th {
  background-color: #44938e;
}
.theme-yellow .kgrid-div-page {
  margin-top: -1px;
  background-color: white;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
}
.theme-yellow .kgrid-row-selected > td:first-child {
  background-color: #eeeeee;
}
.theme-yellow .kgrid-row-selected input[type=text] {
  height: 25px;
}
.theme-yellow .pane-void div {
  height: 40px;
  border: 2px solid red;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 15pt;
  text-align: center;
  line-height: 40px;
}
.theme-yellow .k-grid {
  border: 1px solid #808183;
}
.theme-yellow .k-grid th {
  text-align: center;
  background-color: #c38e00;
  color: white;
}
.theme-yellow .search .k-grid th {
  background-color: #44938e;
}
.theme-purple {
  padding: 5px 5px 5px 25px;
}
.theme-purple .nav-tabs {
  margin-bottom: 0;
  border-bottom: 1px solid #808183;
}
.theme-purple .nav-tabs > li {
  width: 170px;
  text-align: center;
}
.theme-purple .nav-tabs > li > a {
  font-size: 12pt;
  font-weight: normal;
  border-radius: 0;
  padding: 5px 5px;
  margin-right: 5px;
}
.theme-purple .nav-tabs.first-row {
  border-bottom: none;
}
.theme-purple .nav-tabs.first-row + .nav-tabs {
  padding-top: 5px;
}
.theme-purple .nav-tabs > li.active > a,
.theme-purple .nav-tabs > li.active > a:hover,
.theme-purple .nav-tabs > li.active > a:focus {
  background-color: #f8f6f9;
  color: #6d4c77;
  border: 1px solid #808183;
  border-bottom-color: transparent;
}
.theme-purple .tab-content {
  background-color: #f8f6f9;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  padding: 10px 20px 10px 20px;
}
.theme-purple .caption {
  font-size: 11pt;
  font-weight: bold;
  color: #6d4c77;
}
.theme-purple .caption-normal {
  color: #6d4c77;
}
.theme-purple .btn-action {
  color: #6d4c77;
}
.theme-purple td.left {
  text-align: left;
}
.theme-purple td.right {
  text-align: right;
}
.theme-purple td.center {
  text-align: center;
}
.theme-purple td.top {
  vertical-align: top;
}
.theme-purple td.middle {
  vertical-align: middle;
}
.theme-purple td.bottom {
  vertical-align: bottom;
}
.theme-purple .form.double .cell {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
}
.theme-purple .form.double .cell-name {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #6d4c77;
  width: 150px;
  padding-top: 8px;
}
.theme-purple .form.double .cell-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-purple .form.double .cell-control input[type=text],
.theme-purple .form.double .cell-control select,
.theme-purple .form.double .cell-control textarea {
  width: 100%;
}
.theme-purple .form.double tr > td:first-child {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #6d4c77;
  width: 150px;
  padding-top: 8px;
}
.theme-purple .form.double tr > td:first-child + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-purple .form.double tr > td:first-child + td input[type=text],
.theme-purple .form.double tr > td:first-child + td select,
.theme-purple .form.double tr > td:first-child + td textarea {
  width: 100%;
}
.theme-purple .form.double tr > td:first-child + td + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #6d4c77;
  width: 150px;
  padding-top: 8px;
}
.theme-purple .form.double tr > td:first-child + td + td + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-purple .form.double tr > td:first-child + td + td + td input[type=text],
.theme-purple .form.double tr > td:first-child + td + td + td select,
.theme-purple .form.double tr > td:first-child + td + td + td textarea {
  width: 100%;
}
.theme-purple .form.summary {
  width: 100%;
}
.theme-purple .form.summary .caption {
  padding: 8px 0px 0px 10px;
  width: 60px;
}
.theme-purple .form.summary .control {
  padding: 8px 0px 0px 10px;
  width: 305px;
}
.theme-purple .form.summary .control-amount {
  padding: 8px 0px 0px 10px;
  width: 305px;
}
.theme-purple .form.summary .control-amount input[type=text] {
  text-align: right;
  padding-right: 10px;
}
.theme-purple .form.summary .caption-amount {
  color: #6d4c77;
  font-size: 12pt;
  padding: 8px 0px 0px 10px;
  width: 90px;
}
.theme-purple .form.summary input[type=text] {
  width: 100%;
}
.theme-purple .form.summary .cell {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
}
.theme-purple .form.summary .cell-name {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #6d4c77;
  width: 90px;
  padding-top: 8px;
}
.theme-purple .form.summary .cell-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 240px;
  padding-top: 5px;
  padding-left: 5px;
}
.theme-purple .form.summary .cell-control input[type=text],
.theme-purple .form.summary .cell-control select,
.theme-purple .form.summary .cell-control textarea {
  width: 100%;
}
.theme-purple .form.summary .summary-caption {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #6d4c77;
  width: 90px;
  padding-top: 8px;
}
.theme-purple .form.summary .summary-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 240px;
  padding-top: 5px;
  padding-left: 5px;
}
.theme-purple .form.summary .summary-control input[type=text],
.theme-purple .form.summary .summary-control select,
.theme-purple .form.summary .summary-control textarea {
  width: 100%;
}
.theme-purple .form.summary .summary-caption-big {
  font-size: 12pt;
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #6d4c77;
  width: 90px;
  padding-top: 8px;
}
.theme-purple .form.summary .pane-void {
  text-align: center;
  vertical-align: middle;
}
.theme-purple .form.single td {
  vertical-align: top;
  padding-top: 5px;
  text-align: left;
}
.theme-purple .form.single tr > td:first-child:not(.custom) {
  color: #6d4c77;
  width: 175px;
  padding-left: 10px;
}
.theme-purple .form.single tr > td:first-child + td:not(.custom) {
  width: 255px;
}
.theme-purple .form.single tr > td:first-child + td:not(.custom) input[type=text],
.theme-purple .form.single tr > td:first-child + td:not(.custom) select,
.theme-purple .form.single tr > td:first-child + td:not(.custom) textarea {
  width: 100%;
}
.theme-purple .cell-header {
  color: #6d4c77;
  vertical-align: middle;
  font-size: 11pt;
  font-weight: bold;
  padding: 5px 0px 5px 10px;
  background-color: white;
}
.theme-purple .grid-command {
  background-color: white;
  padding: 10px;
  overflow: hidden;
}
.theme-purple .grid-command > div {
  float: left;
}
.theme-purple .grid-command > div + div {
  float: right;
}
.theme-purple .grid-command:not(.no-border) {
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
}
.theme-purple .grid-command:not(.search) span {
  font-weight: bold;
  color: #6d4c77;
  padding-right: 20px;
}
.theme-purple .grid-command.search .btn-action {
  color: #44938e;
}
.theme-purple .grid-command.search span {
  font-weight: bold;
  color: #44938e;
  padding-right: 20px;
}
.theme-purple .header-search {
  font-size: 11pt;
  background-color: #44938e;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: white;
  font-weight: normal;
}
.theme-purple .grid {
  width: 100%;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  background-color: white;
}
.theme-purple .grid th {
  color: white;
  text-align: center;
  background-color: #6f4a76;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  height: 25px;
}
.theme-purple .grid td {
  text-align: center;
  background-color: white;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  height: 25px;
  padding: 0px;
}
.theme-purple .grid td input[type=text] {
  border: none;
  width: 100%;
  padding-left: 5px;
}
.theme-purple .grid td input[type=text].state-edit {
  background-color: yellow;
}
.theme-purple .grid.search th {
  background-color: #44938e;
}
.theme-purple .kgrid-div-page {
  margin-top: -1px;
  background-color: white;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
}
.theme-purple .kgrid-row-selected > td:first-child {
  background-color: #eeeeee;
}
.theme-purple .kgrid-row-selected input[type=text] {
  height: 25px;
}
.theme-purple .pane-void div {
  height: 40px;
  border: 2px solid red;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 15pt;
  text-align: center;
  line-height: 40px;
}
.theme-purple .k-grid {
  border: 1px solid #808183;
}
.theme-purple .k-grid th {
  text-align: center;
  background-color: #6f4a76;
  color: white;
}
.theme-purple .search .k-grid th {
  background-color: #44938e;
}
.theme-orange {
  padding: 5px 5px 5px 25px;
}
.theme-orange .nav-tabs {
  margin-bottom: 0;
  border-bottom: 1px solid #808183;
}
.theme-orange .nav-tabs > li {
  width: 170px;
  text-align: center;
}
.theme-orange .nav-tabs > li > a {
  font-size: 12pt;
  font-weight: normal;
  border-radius: 0;
  padding: 5px 5px;
  margin-right: 5px;
}
.theme-orange .nav-tabs.first-row {
  border-bottom: none;
}
.theme-orange .nav-tabs.first-row + .nav-tabs {
  padding-top: 5px;
}
.theme-orange .nav-tabs > li.active > a,
.theme-orange .nav-tabs > li.active > a:hover,
.theme-orange .nav-tabs > li.active > a:focus {
  background-color: #fdf8f4;
  color: #e47b0a;
  border: 1px solid #808183;
  border-bottom-color: transparent;
}
.theme-orange .tab-content {
  background-color: #fdf8f4;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  padding: 10px 20px 10px 20px;
}
.theme-orange .caption {
  font-size: 11pt;
  font-weight: bold;
  color: #e47b0a;
}
.theme-orange .caption-normal {
  color: #e47b0a;
}
.theme-orange .btn-action {
  color: #e47b0a;
}
.theme-orange td.left {
  text-align: left;
}
.theme-orange td.right {
  text-align: right;
}
.theme-orange td.center {
  text-align: center;
}
.theme-orange td.top {
  vertical-align: top;
}
.theme-orange td.middle {
  vertical-align: middle;
}
.theme-orange td.bottom {
  vertical-align: bottom;
}
.theme-orange .form.double .cell {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
}
.theme-orange .form.double .cell-name {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #e47b0a;
  width: 150px;
  padding-top: 8px;
}
.theme-orange .form.double .cell-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-orange .form.double .cell-control input[type=text],
.theme-orange .form.double .cell-control select,
.theme-orange .form.double .cell-control textarea {
  width: 100%;
}
.theme-orange .form.double tr > td:first-child {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #e47b0a;
  width: 150px;
  padding-top: 8px;
}
.theme-orange .form.double tr > td:first-child + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-orange .form.double tr > td:first-child + td input[type=text],
.theme-orange .form.double tr > td:first-child + td select,
.theme-orange .form.double tr > td:first-child + td textarea {
  width: 100%;
}
.theme-orange .form.double tr > td:first-child + td + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #e47b0a;
  width: 150px;
  padding-top: 8px;
}
.theme-orange .form.double tr > td:first-child + td + td + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-orange .form.double tr > td:first-child + td + td + td input[type=text],
.theme-orange .form.double tr > td:first-child + td + td + td select,
.theme-orange .form.double tr > td:first-child + td + td + td textarea {
  width: 100%;
}
.theme-orange .form.summary {
  width: 100%;
}
.theme-orange .form.summary .caption {
  padding: 8px 0px 0px 10px;
  width: 60px;
}
.theme-orange .form.summary .control {
  padding: 8px 0px 0px 10px;
  width: 305px;
}
.theme-orange .form.summary .control-amount {
  padding: 8px 0px 0px 10px;
  width: 305px;
}
.theme-orange .form.summary .control-amount input[type=text] {
  text-align: right;
  padding-right: 10px;
}
.theme-orange .form.summary .caption-amount {
  color: #e47b0a;
  font-size: 12pt;
  padding: 8px 0px 0px 10px;
  width: 90px;
}
.theme-orange .form.summary input[type=text] {
  width: 100%;
}
.theme-orange .form.summary .cell {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
}
.theme-orange .form.summary .cell-name {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #e47b0a;
  width: 90px;
  padding-top: 8px;
}
.theme-orange .form.summary .cell-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 240px;
  padding-top: 5px;
  padding-left: 5px;
}
.theme-orange .form.summary .cell-control input[type=text],
.theme-orange .form.summary .cell-control select,
.theme-orange .form.summary .cell-control textarea {
  width: 100%;
}
.theme-orange .form.summary .summary-caption {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #e47b0a;
  width: 90px;
  padding-top: 8px;
}
.theme-orange .form.summary .summary-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 240px;
  padding-top: 5px;
  padding-left: 5px;
}
.theme-orange .form.summary .summary-control input[type=text],
.theme-orange .form.summary .summary-control select,
.theme-orange .form.summary .summary-control textarea {
  width: 100%;
}
.theme-orange .form.summary .summary-caption-big {
  font-size: 12pt;
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #e47b0a;
  width: 90px;
  padding-top: 8px;
}
.theme-orange .form.summary .pane-void {
  text-align: center;
  vertical-align: middle;
}
.theme-orange .form.single td {
  vertical-align: top;
  padding-top: 5px;
  text-align: left;
}
.theme-orange .form.single tr > td:first-child:not(.custom) {
  color: #e47b0a;
  width: 175px;
  padding-left: 10px;
}
.theme-orange .form.single tr > td:first-child + td:not(.custom) {
  width: 255px;
}
.theme-orange .form.single tr > td:first-child + td:not(.custom) input[type=text],
.theme-orange .form.single tr > td:first-child + td:not(.custom) select,
.theme-orange .form.single tr > td:first-child + td:not(.custom) textarea {
  width: 100%;
}
.theme-orange .cell-header {
  color: #e47b0a;
  vertical-align: middle;
  font-size: 11pt;
  font-weight: bold;
  padding: 5px 0px 5px 10px;
  background-color: white;
}
.theme-orange .grid-command {
  background-color: white;
  padding: 10px;
  overflow: hidden;
}
.theme-orange .grid-command > div {
  float: left;
}
.theme-orange .grid-command > div + div {
  float: right;
}
.theme-orange .grid-command:not(.no-border) {
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
}
.theme-orange .grid-command:not(.search) span {
  font-weight: bold;
  color: #e47b0a;
  padding-right: 20px;
}
.theme-orange .grid-command.search .btn-action {
  color: #44938e;
}
.theme-orange .grid-command.search span {
  font-weight: bold;
  color: #44938e;
  padding-right: 20px;
}
.theme-orange .header-search {
  font-size: 11pt;
  background-color: #44938e;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: white;
  font-weight: normal;
}
.theme-orange .grid {
  width: 100%;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  background-color: white;
}
.theme-orange .grid th {
  color: white;
  text-align: center;
  background-color: #f1b777;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  height: 25px;
}
.theme-orange .grid td {
  text-align: center;
  background-color: white;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  height: 25px;
  padding: 0px;
}
.theme-orange .grid td input[type=text] {
  border: none;
  width: 100%;
  padding-left: 5px;
}
.theme-orange .grid td input[type=text].state-edit {
  background-color: yellow;
}
.theme-orange .grid.search th {
  background-color: #44938e;
}
.theme-orange .kgrid-div-page {
  margin-top: -1px;
  background-color: white;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
}
.theme-orange .kgrid-row-selected > td:first-child {
  background-color: #eeeeee;
}
.theme-orange .kgrid-row-selected input[type=text] {
  height: 25px;
}
.theme-orange .pane-void div {
  height: 40px;
  border: 2px solid red;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 15pt;
  text-align: center;
  line-height: 40px;
}
.theme-orange .k-grid {
  border: 1px solid #808183;
}
.theme-orange .k-grid th {
  text-align: center;
  background-color: #f1b777;
  color: white;
}
.theme-orange .search .k-grid th {
  background-color: #44938e;
}
.theme-brown {
  padding: 5px 5px 5px 25px;
}
.theme-brown .nav-tabs {
  margin-bottom: 0;
  border-bottom: 1px solid #808183;
}
.theme-brown .nav-tabs > li {
  width: 170px;
  text-align: center;
}
.theme-brown .nav-tabs > li > a {
  font-size: 12pt;
  font-weight: normal;
  border-radius: 0;
  padding: 5px 5px;
  margin-right: 5px;
}
.theme-brown .nav-tabs.first-row {
  border-bottom: none;
}
.theme-brown .nav-tabs.first-row + .nav-tabs {
  padding-top: 5px;
}
.theme-brown .nav-tabs > li.active > a,
.theme-brown .nav-tabs > li.active > a:hover,
.theme-brown .nav-tabs > li.active > a:focus {
  background-color: #f3eeea;
  color: #bfa08b;
  border: 1px solid #808183;
  border-bottom-color: transparent;
}
.theme-brown .tab-content {
  background-color: #f3eeea;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  padding: 10px 20px 10px 20px;
}
.theme-brown .caption {
  font-size: 11pt;
  font-weight: bold;
  color: #bfa08b;
}
.theme-brown .caption-normal {
  color: #bfa08b;
}
.theme-brown .btn-action {
  color: #bfa08b;
}
.theme-brown td.left {
  text-align: left;
}
.theme-brown td.right {
  text-align: right;
}
.theme-brown td.center {
  text-align: center;
}
.theme-brown td.top {
  vertical-align: top;
}
.theme-brown td.middle {
  vertical-align: middle;
}
.theme-brown td.bottom {
  vertical-align: bottom;
}
.theme-brown .form.double .cell {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
}
.theme-brown .form.double .cell-name {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #bfa08b;
  width: 150px;
  padding-top: 8px;
}
.theme-brown .form.double .cell-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-brown .form.double .cell-control input[type=text],
.theme-brown .form.double .cell-control select,
.theme-brown .form.double .cell-control textarea {
  width: 100%;
}
.theme-brown .form.double tr > td:first-child {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #bfa08b;
  width: 150px;
  padding-top: 8px;
}
.theme-brown .form.double tr > td:first-child + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-brown .form.double tr > td:first-child + td input[type=text],
.theme-brown .form.double tr > td:first-child + td select,
.theme-brown .form.double tr > td:first-child + td textarea {
  width: 100%;
}
.theme-brown .form.double tr > td:first-child + td + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #bfa08b;
  width: 150px;
  padding-top: 8px;
}
.theme-brown .form.double tr > td:first-child + td + td + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-brown .form.double tr > td:first-child + td + td + td input[type=text],
.theme-brown .form.double tr > td:first-child + td + td + td select,
.theme-brown .form.double tr > td:first-child + td + td + td textarea {
  width: 100%;
}
.theme-brown .form.summary {
  width: 100%;
}
.theme-brown .form.summary .caption {
  padding: 8px 0px 0px 10px;
  width: 60px;
}
.theme-brown .form.summary .control {
  padding: 8px 0px 0px 10px;
  width: 305px;
}
.theme-brown .form.summary .control-amount {
  padding: 8px 0px 0px 10px;
  width: 305px;
}
.theme-brown .form.summary .control-amount input[type=text] {
  text-align: right;
  padding-right: 10px;
}
.theme-brown .form.summary .caption-amount {
  color: #bfa08b;
  font-size: 12pt;
  padding: 8px 0px 0px 10px;
  width: 90px;
}
.theme-brown .form.summary input[type=text] {
  width: 100%;
}
.theme-brown .form.summary .cell {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
}
.theme-brown .form.summary .cell-name {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #bfa08b;
  width: 90px;
  padding-top: 8px;
}
.theme-brown .form.summary .cell-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 240px;
  padding-top: 5px;
  padding-left: 5px;
}
.theme-brown .form.summary .cell-control input[type=text],
.theme-brown .form.summary .cell-control select,
.theme-brown .form.summary .cell-control textarea {
  width: 100%;
}
.theme-brown .form.summary .summary-caption {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #bfa08b;
  width: 90px;
  padding-top: 8px;
}
.theme-brown .form.summary .summary-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 240px;
  padding-top: 5px;
  padding-left: 5px;
}
.theme-brown .form.summary .summary-control input[type=text],
.theme-brown .form.summary .summary-control select,
.theme-brown .form.summary .summary-control textarea {
  width: 100%;
}
.theme-brown .form.summary .summary-caption-big {
  font-size: 12pt;
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #bfa08b;
  width: 90px;
  padding-top: 8px;
}
.theme-brown .form.summary .pane-void {
  text-align: center;
  vertical-align: middle;
}
.theme-brown .form.single td {
  vertical-align: top;
  padding-top: 5px;
  text-align: left;
}
.theme-brown .form.single tr > td:first-child:not(.custom) {
  color: #bfa08b;
  width: 175px;
  padding-left: 10px;
}
.theme-brown .form.single tr > td:first-child + td:not(.custom) {
  width: 255px;
}
.theme-brown .form.single tr > td:first-child + td:not(.custom) input[type=text],
.theme-brown .form.single tr > td:first-child + td:not(.custom) select,
.theme-brown .form.single tr > td:first-child + td:not(.custom) textarea {
  width: 100%;
}
.theme-brown .cell-header {
  color: #bfa08b;
  vertical-align: middle;
  font-size: 11pt;
  font-weight: bold;
  padding: 5px 0px 5px 10px;
  background-color: white;
}
.theme-brown .grid-command {
  background-color: white;
  padding: 10px;
  overflow: hidden;
}
.theme-brown .grid-command > div {
  float: left;
}
.theme-brown .grid-command > div + div {
  float: right;
}
.theme-brown .grid-command:not(.no-border) {
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
}
.theme-brown .grid-command:not(.search) span {
  font-weight: bold;
  color: #bfa08b;
  padding-right: 20px;
}
.theme-brown .grid-command.search .btn-action {
  color: #44938e;
}
.theme-brown .grid-command.search span {
  font-weight: bold;
  color: #44938e;
  padding-right: 20px;
}
.theme-brown .header-search {
  font-size: 11pt;
  background-color: #44938e;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: white;
  font-weight: normal;
}
.theme-brown .grid {
  width: 100%;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  background-color: white;
}
.theme-brown .grid th {
  color: white;
  text-align: center;
  background-color: #bfa08b;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  height: 25px;
}
.theme-brown .grid td {
  text-align: center;
  background-color: white;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  height: 25px;
  padding: 0px;
}
.theme-brown .grid td input[type=text] {
  border: none;
  width: 100%;
  padding-left: 5px;
}
.theme-brown .grid td input[type=text].state-edit {
  background-color: yellow;
}
.theme-brown .grid.search th {
  background-color: #44938e;
}
.theme-brown .kgrid-div-page {
  margin-top: -1px;
  background-color: white;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
}
.theme-brown .kgrid-row-selected > td:first-child {
  background-color: #eeeeee;
}
.theme-brown .kgrid-row-selected input[type=text] {
  height: 25px;
}
.theme-brown .pane-void div {
  height: 40px;
  border: 2px solid red;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 15pt;
  text-align: center;
  line-height: 40px;
}
.theme-brown .k-grid {
  border: 1px solid #808183;
}
.theme-brown .k-grid th {
  text-align: center;
  background-color: #bfa08b;
  color: white;
}
.theme-brown .search .k-grid th {
  background-color: #44938e;
}
.theme-pink {
  padding: 5px 5px 5px 25px;
}
.theme-pink .nav-tabs {
  margin-bottom: 0;
  border-bottom: 1px solid #808183;
}
.theme-pink .nav-tabs > li {
  width: 170px;
  text-align: center;
}
.theme-pink .nav-tabs > li > a {
  font-size: 12pt;
  font-weight: normal;
  border-radius: 0;
  padding: 5px 5px;
  margin-right: 5px;
}
.theme-pink .nav-tabs.first-row {
  border-bottom: none;
}
.theme-pink .nav-tabs.first-row + .nav-tabs {
  padding-top: 5px;
}
.theme-pink .nav-tabs > li.active > a,
.theme-pink .nav-tabs > li.active > a:hover,
.theme-pink .nav-tabs > li.active > a:focus {
  background-color: #fef5f6;
  color: #e75a73;
  border: 1px solid #808183;
  border-bottom-color: transparent;
}
.theme-pink .tab-content {
  background-color: #fef5f6;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  padding: 10px 20px 10px 20px;
}
.theme-pink .caption {
  font-size: 11pt;
  font-weight: bold;
  color: #e75a73;
}
.theme-pink .caption-normal {
  color: #e75a73;
}
.theme-pink .btn-action {
  color: #e75a73;
}
.theme-pink td.left {
  text-align: left;
}
.theme-pink td.right {
  text-align: right;
}
.theme-pink td.center {
  text-align: center;
}
.theme-pink td.top {
  vertical-align: top;
}
.theme-pink td.middle {
  vertical-align: middle;
}
.theme-pink td.bottom {
  vertical-align: bottom;
}
.theme-pink .form.double .cell {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
}
.theme-pink .form.double .cell-name {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #e75a73;
  width: 150px;
  padding-top: 8px;
}
.theme-pink .form.double .cell-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-pink .form.double .cell-control input[type=text],
.theme-pink .form.double .cell-control select,
.theme-pink .form.double .cell-control textarea {
  width: 100%;
}
.theme-pink .form.double tr > td:first-child {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #e75a73;
  width: 150px;
  padding-top: 8px;
}
.theme-pink .form.double tr > td:first-child + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-pink .form.double tr > td:first-child + td input[type=text],
.theme-pink .form.double tr > td:first-child + td select,
.theme-pink .form.double tr > td:first-child + td textarea {
  width: 100%;
}
.theme-pink .form.double tr > td:first-child + td + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #e75a73;
  width: 150px;
  padding-top: 8px;
}
.theme-pink .form.double tr > td:first-child + td + td + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-pink .form.double tr > td:first-child + td + td + td input[type=text],
.theme-pink .form.double tr > td:first-child + td + td + td select,
.theme-pink .form.double tr > td:first-child + td + td + td textarea {
  width: 100%;
}
.theme-pink .form.summary {
  width: 100%;
}
.theme-pink .form.summary .caption {
  padding: 8px 0px 0px 10px;
  width: 60px;
}
.theme-pink .form.summary .control {
  padding: 8px 0px 0px 10px;
  width: 305px;
}
.theme-pink .form.summary .control-amount {
  padding: 8px 0px 0px 10px;
  width: 305px;
}
.theme-pink .form.summary .control-amount input[type=text] {
  text-align: right;
  padding-right: 10px;
}
.theme-pink .form.summary .caption-amount {
  color: #e75a73;
  font-size: 12pt;
  padding: 8px 0px 0px 10px;
  width: 90px;
}
.theme-pink .form.summary input[type=text] {
  width: 100%;
}
.theme-pink .form.summary .cell {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
}
.theme-pink .form.summary .cell-name {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #e75a73;
  width: 90px;
  padding-top: 8px;
}
.theme-pink .form.summary .cell-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 240px;
  padding-top: 5px;
  padding-left: 5px;
}
.theme-pink .form.summary .cell-control input[type=text],
.theme-pink .form.summary .cell-control select,
.theme-pink .form.summary .cell-control textarea {
  width: 100%;
}
.theme-pink .form.summary .summary-caption {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #e75a73;
  width: 90px;
  padding-top: 8px;
}
.theme-pink .form.summary .summary-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 240px;
  padding-top: 5px;
  padding-left: 5px;
}
.theme-pink .form.summary .summary-control input[type=text],
.theme-pink .form.summary .summary-control select,
.theme-pink .form.summary .summary-control textarea {
  width: 100%;
}
.theme-pink .form.summary .summary-caption-big {
  font-size: 12pt;
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #e75a73;
  width: 90px;
  padding-top: 8px;
}
.theme-pink .form.summary .pane-void {
  text-align: center;
  vertical-align: middle;
}
.theme-pink .form.single td {
  vertical-align: top;
  padding-top: 5px;
  text-align: left;
}
.theme-pink .form.single tr > td:first-child:not(.custom) {
  color: #e75a73;
  width: 175px;
  padding-left: 10px;
}
.theme-pink .form.single tr > td:first-child + td:not(.custom) {
  width: 255px;
}
.theme-pink .form.single tr > td:first-child + td:not(.custom) input[type=text],
.theme-pink .form.single tr > td:first-child + td:not(.custom) select,
.theme-pink .form.single tr > td:first-child + td:not(.custom) textarea {
  width: 100%;
}
.theme-pink .cell-header {
  color: #e75a73;
  vertical-align: middle;
  font-size: 11pt;
  font-weight: bold;
  padding: 5px 0px 5px 10px;
  background-color: white;
}
.theme-pink .grid-command {
  background-color: white;
  padding: 10px;
  overflow: hidden;
}
.theme-pink .grid-command > div {
  float: left;
}
.theme-pink .grid-command > div + div {
  float: right;
}
.theme-pink .grid-command:not(.no-border) {
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
}
.theme-pink .grid-command:not(.search) span {
  font-weight: bold;
  color: #e75a73;
  padding-right: 20px;
}
.theme-pink .grid-command.search .btn-action {
  color: #44938e;
}
.theme-pink .grid-command.search span {
  font-weight: bold;
  color: #44938e;
  padding-right: 20px;
}
.theme-pink .header-search {
  font-size: 11pt;
  background-color: #44938e;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: white;
  font-weight: normal;
}
.theme-pink .grid {
  width: 100%;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  background-color: white;
}
.theme-pink .grid th {
  color: white;
  text-align: center;
  background-color: #eeb2ba;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  height: 25px;
}
.theme-pink .grid td {
  text-align: center;
  background-color: white;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  height: 25px;
  padding: 0px;
}
.theme-pink .grid td input[type=text] {
  border: none;
  width: 100%;
  padding-left: 5px;
}
.theme-pink .grid td input[type=text].state-edit {
  background-color: yellow;
}
.theme-pink .grid.search th {
  background-color: #44938e;
}
.theme-pink .kgrid-div-page {
  margin-top: -1px;
  background-color: white;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
}
.theme-pink .kgrid-row-selected > td:first-child {
  background-color: #eeeeee;
}
.theme-pink .kgrid-row-selected input[type=text] {
  height: 25px;
}
.theme-pink .pane-void div {
  height: 40px;
  border: 2px solid red;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 15pt;
  text-align: center;
  line-height: 40px;
}
.theme-pink .k-grid {
  border: 1px solid #808183;
}
.theme-pink .k-grid th {
  text-align: center;
  background-color: #eeb2ba;
  color: white;
}
.theme-pink .search .k-grid th {
  background-color: #44938e;
}
.theme-black {
  padding: 5px 5px 5px 25px;
}
.theme-black .nav-tabs {
  margin-bottom: 0;
  border-bottom: 1px solid #808183;
}
.theme-black .nav-tabs > li {
  width: 170px;
  text-align: center;
}
.theme-black .nav-tabs > li > a {
  font-size: 12pt;
  font-weight: normal;
  border-radius: 0;
  padding: 5px 5px;
  margin-right: 5px;
}
.theme-black .nav-tabs.first-row {
  border-bottom: none;
}
.theme-black .nav-tabs.first-row + .nav-tabs {
  padding-top: 5px;
}
.theme-black .nav-tabs > li.active > a,
.theme-black .nav-tabs > li.active > a:hover,
.theme-black .nav-tabs > li.active > a:focus {
  background-color: #000000;
  color: #000000;
  border: 1px solid #808183;
  border-bottom-color: transparent;
}
.theme-black .tab-content {
  background-color: #000000;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  padding: 10px 20px 10px 20px;
}
.theme-black .caption {
  font-size: 11pt;
  font-weight: bold;
  color: #000000;
}
.theme-black .caption-normal {
  color: #000000;
}
.theme-black .btn-action {
  color: #000000;
}
.theme-black td.left {
  text-align: left;
}
.theme-black td.right {
  text-align: right;
}
.theme-black td.center {
  text-align: center;
}
.theme-black td.top {
  vertical-align: top;
}
.theme-black td.middle {
  vertical-align: middle;
}
.theme-black td.bottom {
  vertical-align: bottom;
}
.theme-black .form.double .cell {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
}
.theme-black .form.double .cell-name {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #000000;
  width: 150px;
  padding-top: 8px;
}
.theme-black .form.double .cell-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-black .form.double .cell-control input[type=text],
.theme-black .form.double .cell-control select,
.theme-black .form.double .cell-control textarea {
  width: 100%;
}
.theme-black .form.double tr > td:first-child {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #000000;
  width: 150px;
  padding-top: 8px;
}
.theme-black .form.double tr > td:first-child + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-black .form.double tr > td:first-child + td input[type=text],
.theme-black .form.double tr > td:first-child + td select,
.theme-black .form.double tr > td:first-child + td textarea {
  width: 100%;
}
.theme-black .form.double tr > td:first-child + td + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #000000;
  width: 150px;
  padding-top: 8px;
}
.theme-black .form.double tr > td:first-child + td + td + td {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 230px;
  padding-top: 5px;
}
.theme-black .form.double tr > td:first-child + td + td + td input[type=text],
.theme-black .form.double tr > td:first-child + td + td + td select,
.theme-black .form.double tr > td:first-child + td + td + td textarea {
  width: 100%;
}
.theme-black .form.summary {
  width: 100%;
}
.theme-black .form.summary .caption {
  padding: 8px 0px 0px 10px;
  width: 60px;
}
.theme-black .form.summary .control {
  padding: 8px 0px 0px 10px;
  width: 305px;
}
.theme-black .form.summary .control-amount {
  padding: 8px 0px 0px 10px;
  width: 305px;
}
.theme-black .form.summary .control-amount input[type=text] {
  text-align: right;
  padding-right: 10px;
}
.theme-black .form.summary .caption-amount {
  color: #000000;
  font-size: 12pt;
  padding: 8px 0px 0px 10px;
  width: 90px;
}
.theme-black .form.summary input[type=text] {
  width: 100%;
}
.theme-black .form.summary .cell {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
}
.theme-black .form.summary .cell-name {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #000000;
  width: 90px;
  padding-top: 8px;
}
.theme-black .form.summary .cell-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 240px;
  padding-top: 5px;
  padding-left: 5px;
}
.theme-black .form.summary .cell-control input[type=text],
.theme-black .form.summary .cell-control select,
.theme-black .form.summary .cell-control textarea {
  width: 100%;
}
.theme-black .form.summary .summary-caption {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #000000;
  width: 90px;
  padding-top: 8px;
}
.theme-black .form.summary .summary-control {
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 240px;
  padding-top: 5px;
  padding-left: 5px;
}
.theme-black .form.summary .summary-control input[type=text],
.theme-black .form.summary .summary-control select,
.theme-black .form.summary .summary-control textarea {
  width: 100%;
}
.theme-black .form.summary .summary-caption-big {
  font-size: 12pt;
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  color: #000000;
  width: 90px;
  padding-top: 8px;
}
.theme-black .form.summary .pane-void {
  text-align: center;
  vertical-align: middle;
}
.theme-black .form.single td {
  vertical-align: top;
  padding-top: 5px;
  text-align: left;
}
.theme-black .form.single tr > td:first-child:not(.custom) {
  color: #000000;
  width: 175px;
  padding-left: 10px;
}
.theme-black .form.single tr > td:first-child + td:not(.custom) {
  width: 255px;
}
.theme-black .form.single tr > td:first-child + td:not(.custom) input[type=text],
.theme-black .form.single tr > td:first-child + td:not(.custom) select,
.theme-black .form.single tr > td:first-child + td:not(.custom) textarea {
  width: 100%;
}
.theme-black .cell-header {
  color: #000000;
  vertical-align: middle;
  font-size: 11pt;
  font-weight: bold;
  padding: 5px 0px 5px 10px;
  background-color: white;
}
.theme-black .grid-command {
  background-color: white;
  padding: 10px;
  overflow: hidden;
}
.theme-black .grid-command > div {
  float: left;
}
.theme-black .grid-command > div + div {
  float: right;
}
.theme-black .grid-command:not(.no-border) {
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
}
.theme-black .grid-command:not(.search) span {
  font-weight: bold;
  color: #000000;
  padding-right: 20px;
}
.theme-black .grid-command.search .btn-action {
  color: #44938e;
}
.theme-black .grid-command.search span {
  font-weight: bold;
  color: #44938e;
  padding-right: 20px;
}
.theme-black .header-search {
  font-size: 11pt;
  background-color: #44938e;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: white;
  font-weight: normal;
}
.theme-black .grid {
  width: 100%;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  background-color: white;
}
.theme-black .grid th {
  color: white;
  text-align: center;
  background-color: #000000;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  height: 25px;
}
.theme-black .grid td {
  text-align: center;
  background-color: white;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
  height: 25px;
  padding: 0px;
}
.theme-black .grid td input[type=text] {
  border: none;
  width: 100%;
  padding-left: 5px;
}
.theme-black .grid td input[type=text].state-edit {
  background-color: yellow;
}
.theme-black .grid.search th {
  background-color: #44938e;
}
.theme-black .kgrid-div-page {
  margin-top: -1px;
  background-color: white;
  border-top: 1px solid #808183;
  border-left: 1px solid #808183;
  border-right: 1px solid #808183;
  border-bottom: 1px solid #808183;
}
.theme-black .kgrid-row-selected > td:first-child {
  background-color: #eeeeee;
}
.theme-black .kgrid-row-selected input[type=text] {
  height: 25px;
}
.theme-black .pane-void div {
  height: 40px;
  border: 2px solid red;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 15pt;
  text-align: center;
  line-height: 40px;
}
.theme-black .k-grid {
  border: 1px solid #808183;
}
.theme-black .k-grid th {
  text-align: center;
  background-color: #000000;
  color: white;
}
.theme-black .search .k-grid th {
  background-color: #44938e;
}
.common-control {
  text-align: center;
  margin-top: 10px;
}
.common-control > div {
  display: inline-block;
}
.common-control > div .transition-hover {
  border-width: 3px;
}
.common-control > div .disable {
  height: 35px;
  line-height: 35px;
  width: 110px;
  font-weight: bold;
  font-size: 12pt;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  cursor: not-allowed !important;
  border: 2px solid lightgray !important;
  color: #c0c0c0 !important;
}
.common-control > div > div:first-child {
  background: url(../images/button_mark_brown.png) no-repeat scroll right center;
  height: 35px;
  line-height: 35px;
  width: 110px;
  font-weight: bold;
  font-size: 12pt;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  width: 60px;
  border: 2px solid #c8af9b;
  color: #804819;
}
.common-control > div > div:first-child + div {
  background: url(../images/button_mark_green.png) no-repeat scroll right center;
  height: 35px;
  line-height: 35px;
  width: 110px;
  font-weight: bold;
  font-size: 12pt;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #98d5b3;
  color: #22a754;
}
.common-control > div > div:first-child + div + div {
  background: url(../images/button_mark_red.png) no-repeat scroll right center;
  height: 35px;
  line-height: 35px;
  width: 110px;
  font-weight: bold;
  font-size: 12pt;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #f1a494;
  color: #ee473e;
}
.common-control > div > div:first-child + div + div + div {
  background: url(../images/button_mark_blue.png) no-repeat scroll right center;
  height: 35px;
  line-height: 35px;
  width: 110px;
  font-weight: bold;
  font-size: 12pt;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #7fb9e1;
  color: #1f82c3;
}
.common-control > div > div:first-child + div + div + div + div {
  background: url(../images/button_mark_yellow.png) no-repeat scroll right center;
  height: 35px;
  line-height: 35px;
  width: 110px;
  font-weight: bold;
  font-size: 12pt;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #fbc77b;
  color: #f6a124;
}
.common-control > div > div:first-child + div + div + div + div + div {
  background: url(../images/button_mark_purple.png) no-repeat scroll right center;
  height: 35px;
  line-height: 35px;
  width: 110px;
  font-weight: bold;
  font-size: 12pt;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #a593ad;
  color: #6f4a76;
}
.common-control > div > div:first-child + div + div + div + div + div + div {
  background: url(../images/button_mark_brown.png) no-repeat scroll right center;
  height: 35px;
  line-height: 35px;
  width: 110px;
  font-weight: bold;
  font-size: 12pt;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  width: 60px;
  border: 2px solid #c8af9b;
  color: #804819;
}
.common-control > div > div:first-child:hover {
  border-width: 3px;
}
.common-control > div > div:first-child + div:hover {
  border-width: 3px;
}
.common-control > div > div:first-child + div + div:hover {
  border-width: 3px;
}
.common-control > div > div:first-child + div + div + div:hover {
  border-width: 3px;
}
.common-control > div > div:first-child + div + div + div + div:hover {
  border-width: 3px;
}
.common-control > div > div:first-child + div + div + div + div + div:hover {
  border-width: 3px;
}
.common-control > div > div:first-child + div + div + div + div + div + div:hover {
  border-width: 3px;
}
.printable {
  padding: 10px;
}
.printable input[type=text] {
  border: 0;
  background: transparent;
}
.printable > .caption {
  font-size: 15pt;
}
.printable .grid-printable {
  border-top: 1px solid #808183;
  border-bottom: 1px solid #808183;
}
.printable .grid-printable th {
  border-bottom: 1px solid #808183;
}
.printable .grid-printable th,
.printable .grid-printable td {
  padding: 0 10px 0 10px;
  height: 25px;
}
.printable .summary .summary-caption {
  width: 100px !important;
}
.printable .summary .amount {
  width: 100px !important;
  text-align: right;
}
.nav-tabs > li.active.blue > a,
.nav-tabs > li.active.blue > a:hover,
.nav-tabs > li.active.blue > a:focus {
  background-color: #f5fafe;
  color: #0575bd;
}
.tab-content.blue {
  background-color: #f5fafe;
}
.nav-tabs > li.active.red > a,
.nav-tabs > li.active.red > a:hover,
.nav-tabs > li.active.red > a:focus {
  background-color: #fff9f9;
  color: #ed6d50;
}
.tab-content.red {
  background-color: #fff9f9;
}
.nav-tabs > li.active.yellow > a,
.nav-tabs > li.active.yellow > a:hover,
.nav-tabs > li.active.yellow > a:focus {
  background-color: #fdfaf5;
  color: #c38e00;
}
.tab-content.yellow {
  background-color: #fdfaf5;
}
.nav-tabs > li.active.green > a,
.nav-tabs > li.active.green > a:hover,
.nav-tabs > li.active.green > a:focus {
  background-color: #fbfcf4;
  color: #79a438;
}
.tab-content.green {
  background-color: #fbfcf4;
}
.nav-tabs > li.active.purple > a,
.nav-tabs > li.active.purple > a:hover,
.nav-tabs > li.active.purple > a:focus {
  background-color: #f8f6f9;
  color: #6d4c77;
}
.tab-content.purple {
  background-color: #f8f6f9;
}
.nav-tabs > li.inactive > a,
.nav-tabs > li.inactive > a:hover,
.nav-tabs > li.inactive > a:focus {
  color: white;
  background-color: #888888;
}
.modal-content {
  border-radius: 0;
}
.modal-content .btn {
  border-radius: 0;
}
.modal-content .modal-title .info {
  font-weight: bold;
}
.modal-content .modal-title .error {
  font-weight: bold;
  color: red;
}
.grid .selectize-input {
  border: none !important;
}
.selectize-input.disabled {
  background-color: #f0f0f0 !important;
}
.util-amountinput-disabled {
  background-color: #f0f0f0;
}
.dataTable > thead > tr > td {
  border: 1px solid #808183;
}
.dataTable.header-blue > thead > tr > td {
  color: white;
  background-color: #7fb9d1;
}
.dataTable.header-red > thead > tr > td {
  color: white;
  background-color: #ed6d50;
}
.dataTable.header-yellow > thead > tr > td {
  color: white;
  background-color: #c38e00;
}
.dataTable.header-green > thead > tr > td {
  color: white;
  background-color: #79a438;
}
.dataTable.header-purple > thead > tr > td {
  color: white;
  background-color: #6f4a76;
}
.dataTable.header-teal > thead > tr > td {
  color: white;
  background-color: #44938e;
}
.bg-teal {
  background-color: #44938e;
}
.text-red {
  color: #ed6d50;
}
.txt-blue {
  color: #0575bd;
}
.text-blue {
  color: #0575bd;
}
.text-green {
  color: #79a438;
}
.text-yellow {
  color: #c38e00;
}
.text-teal {
  color: #44938e;
}
.text-purple {
  color: #6d4c77;
}
.txt-white {
  color: #ffffff;
}
.width-20 {
  width: 20px;
}
.width-50 {
  width: 50px;
}
.width-100 {
  width: 100px;
}
.width-125 {
  width: 125px;
}
.width-150 {
  width: 150px;
}
.width-200 {
  width: 200px;
}
.width-225 {
  width: 200px;
}
.width-250 {
  width: 250px;
}
.width-275 {
  width: 275px;
}
.width-300 {
  width: 300px;
}
.width-350 {
  width: 350px;
}
.width-400 {
  width: 400px;
}
.width-450 {
  width: 450px;
}
.width-500 {
  width: 500px;
}
.width-550 {
  width: 550px;
}
.width-600 {
  width: 600px;
}
.height-10 {
  height: 10px;
}
.height-15 {
  height: 15px;
}
.height-20 {
  height: 20px;
}
.height-25 {
  height: 25px;
}
.height-30 {
  height: 30px;
}
.height-40 {
  height: 40px;
}
.height-50 {
  height: 50px;
}
.height-60 {
  height: 60px;
}
.debug-red {
  background-color: red;
}
.debug-green {
  background-color: green;
}
.debug-blue {
  background-color: blue;
}
/*# sourceMappingURL=retailgoo.css.map */