﻿.SearchBox {
	border: 1px solid #44938e;
	height: 21px;
	width: 335px;
}
.SearchButton {
	border: 1px solid #44938e;
	background-color: #44938e;
	color: #FFFFFF;
	width: 94px;
	height: 21px;
}
.SearchAlign {
	text-align: right;
}
